<style>
    .disabledbutton {
        pointer-events: none;
        opacity: 0.4;
    }
</style>

<script>
    window.onload = function () {
        var bloquear
        encerrado = document.getElementById('encerrado')
        if (encerrado.value == 'true') {
            bloquear = document.getElementById('bloquear')
            if (bloquear.className == 'btn-group gap-2') {
                bloquear.className = 'disabledbutton'
            }
            bloquear = document.getElementById('bloquear1')
            if (bloquear.className == 'btn-group gap-2') {
                bloquear.className = 'disabledbutton'
            }
            bloquear = document.getElementById('bloquear2')
            if (bloquear.className == 'btn-group gap-2') {
                bloquear.className = 'disabledbutton'
            }
            bloquear = document.getElementById('bloquear3')
            if (bloquear.className == 'btn-group gap-2') {
                bloquear.className = 'disabledbutton'
            }
            bloquear = document.getElementById('bloquear4')
            if (bloquear.className == 'btn-group gap-2') {
                bloquear.className = 'disabledbutton'
            }
            bloquear = document.getElementById('bloquear5')
            if (bloquear.className == 'btn-group gap-2') {
                bloquear.className = 'disabledbutton'
            }
        }
    }
</script>

<!-- MENU DE FATURA DO PROJETO -->
<!-- RESUMO -->
<!-- SÃO 3 PROCESSOS BASES => PROPOSTA(DADOS/FATURA/FOTOS) / PROJETO / INSTALAÇÃO -->
<!-- FLUXO: FATURA => SOLICITAR ORÇAMENTO => ANEXO DA PROPOSTA => PROPOSTA ENVIADA => FOTOS => PEDIDO => PROPOSTA GANHA(AUTORIZADO PELO VENDEDOR) => PROJETO => INSTALAÇÃO -->

<!-- O MENU DE FATURA PODERÁ SER UTILIZADO EM DOIS MOMENTOS, QUANDO OS PROJETOS ESTÃO GANHOS OU NÃO GANHOS -->

<!-- ACESSO PARA QUATRO TIPOS DE USUÁRIOS -->
<!-- CADA USUÁRIO PODERÁ TER FUNÇÕES: GESTOR, ORÇAMENTISTA, VENDEDOR E PROJETISTA, NÃO EXCLUSIVAS -->
<!-- MASTER => ACESSO AOS PROCESSOS DE VENDA/PROJETO/INSTALAÇÃO-->
<!-- GESTOR => ACESSO AOS PROCESSOS DE FATURA/FOTOS/PROJETO/INSTALAÇÃO-->
<!-- ORÇAMENTISTA => ACESSO AOS PROCESSOS DE PROPOSTA(DADOS/FATURA)-->
<!-- VENDEDOR => ACESSO À PROPOSTA => DADOS/FATURA/FOTOS -->
<!-- PROJETISTA => ACESSO AOS PROCESSOS DE FATURA/FOTOS/PROJETO/INSTALAÇÃO-->

<!---->
<!-- GESTOR=> PROPOSTAS NÃO GANHAS => PROPOSTA(DADOS/FATURA/FOTOS) -->
<!-- GESTOR=> PROPOSTAS GANHAS => FATURA / FOTOS / PROJETO / INSTALAÇÃO -->
<!-- FEATURES DISPONÍVEIS => NÃO GANHO => OBSERVAÇÃO, VOLTAR  -->
<!-- FEATURES DISPONÍVEIS => GANHO => VER PEDIDO, OBSERVAÇÃO, VER TERMO, VOLTAR  -->

<!-- PROJETISTA=> PROPOSTAS NÃO GANHAS => NÃO TEM ACESSO -->
<!-- PROJETISTA=> PROPOSTAS GANHAS => FATURA / FOTOS / PROJETO / INSTALAÇÃO -->

<!-- PROCESSOS DISPONÍVEIS PARA CADA TIPO DE USUÁRIO -->
<!-- MASTER=> PROPOSTAS NÃO GANHAS => PROPOSTA(DADOS/FATURA/FOTOS) -->
<!-- MASTER=> PROPOSTAS GANHAS => PROPOSTA(DADOS/FATURA/FOTOS) / PROJETO / INSTALAÇÃO -->
<!-- FEATURES DISPONÍVEIS => NÃO GANHO => EMITIR PEDIDO/GANHAR PEDIDO, EXPORTAR EXCEL, OBSERVAÇÃO, AGENDA, VOLTAR  -->
<!-- FEATURES DISPONÍVEIS => GANHO => VER PEDIDO, OBSERVAÇÃO, TERMO(ADD/VER), VOLTAR  -->

<!-- ORÇAMENTISTA=> PROPOSTAS NÃO GANHAS => PROPOSTA(DADOS/FATURA) -->
<!-- ORÇAMENTISTA=> PROPOSTAS GANHAS => PROPOSTA(DADOS/FATURA) -->
<!-- FEATURES DISPONÍVEIS => NÃO GANHO => EMITIR PEDIDO/GANHAR PEDIDO, EXPORTAR EXCEL, VER PROPOSTA, OBSERVAÇÃO, VOLTAR  -->
<!-- FEATURES DISPONÍVEIS => GANHO => VER PEDIDO, OBSERVAÇÃO, VER TERMO, VOLTAR  -->

<!-- VENDEDOR => PROPOSTAS NÃO GANHAS => PROPOSTA(DADOS/FATURA/FOTOS) -->
<!-- VENDEDOR=> PROPOSTAS GANHAS => PROPOSTA(DADOS/FATURA/FOTOS) -->
<!-- FEATURES DISPONÍVEIS => NÃO GANHO => EMITIR PEDIDO/GANHAR PEDIDO, OBSERVAÇÃO, AGENDA, VOLTAR  -->
<!-- FEATURES DISPONÍVEIS => GANHO => VER PEDIDO, OBSERVAÇÃO, TERMO(ADD/VER), VOLTAR  -->

<div class='text-center mt-2' style="width: 98%;padding-left: 2%;padding-top: 0.5%;height: auto">

    {{#if projeto.cliente}}
    <div style="width: 100%;" class="header">
        <label style="font-size: 25px;">{{cliente_projeto.nome}}&nbsp{{projeto.seq}} </label>
    </div>
    {{/if}}
    {{#if proandges}}
    <!-- PROPOSTA GANHA -->
    {{#if projeto.ganho}}
    <div class="row">
        <div class="col">
            <a href='/gerenciamento/fatura/{{projeto._id}}'
                class='{{#if projeto.execucao}} check-menu-resume {{else}} botao-menu-resume {{/if}} d-flex align-items-center'
                style="border-radius: 200px;"><i class="bi bi-images d-flex align-items-center"></i>
                <label class='col-form-label' style="cursor: pointer;">&nbspFatura </label>
            </a>
        </div>
        <div class="col">
            <a href='/gerenciamento/fotos/{{projeto._id}}'
                class='{{#if projeto.execucao}} check-menu-resume {{else}} botao-menu-resume {{/if}} ativo d-flex align-items-center'
                style="border-radius: 200px;"><i class="bi bi-images d-flex align-items-center"></i>
                <label class='col-form-label' style="cursor: pointer;">&nbspFotos </label>
            </a>
        </div>
        <div class="col">
            <a href='/gerenciamento/projeto/{{projeto._id}}'
                class='{{#if projeto.execucao}} check-menu-resume {{else}} botao-menu-resume {{/if}} d-flex align-items-center'
                style="border-radius: 200px;"><i class="bi bi-journal-bookmark d-flex align-items-center"></i>
                <label class='col-form-label' style="cursor: pointer;">&nbspProjeto </label>
            </a>
        </div>
        <div class="col">
            <a href='/gerenciamento/instalacao/{{projeto._id}}'
                class='{{#if projeto.encerrado}} check-menu-resume {{else}} botao-menu-resume {{/if}} d-flex align-items-center'
                style="border-radius: 200px;"><i class="bi bi-tools d-flex align-items-center"></i>
                <label class='col-form-label'>&nbspInstalação </label>
            </a>
        </div>
    </div>
    {{/if}} <!-- FIM PROJETO GANHO -->
    {{else}}
    <!-- SENÃO É PROJETISTA OU GESTOR -->
    {{#if ehMaster}}
    <div class="btn-group col-12 gap-2 ativo mt-1" style="border-radius: 200px;">
        <a href='/gerenciamento/orcamento/{{projeto._id}}' style="font-size: 20px;color: white;font-weight: 700;"
            class='btn btn-sm d-flex align-items-center'>&nbsp&nbsp
            <i class="bi bi-funnel d-flex align-items-center"></i>&nbspProposta
        </a>
        <input type='hidden' value='{{agenda.descricao}}' id="descricao">
        <a href='/relatorios/pedido/{{projeto._id}}' class='mt-1' title='pedido'><i class="bi bi-files"
                style="font-size: 25px;color: white;padding-right: 10px;"></i></a>
        <a href='' class="mt-1" data-bs-toggle="modal" data-bs-target='#orcamento' title='orçamento'>
            <i class='bi bi-eye' style="font-size: 25px;color: white;padding-right: 10px;"></i></a>
        {{#if projeto.ganho}}
        <!-- INICIO VALIDAÇÃO GANHO -->
        <a onclick='termoEntrega()' class='mt-1' title='termo de entrega'>
            <i class="bi bi-folder" style="font-size: 25px;color: white;padding-right: 5px;cursor: pointer;"></i>
        </a>
        {{else}}
        <a href='/gerenciamento/ganho/{{projeto._id}}/' style="margin-right: 10px;" class='mt-1'>
            <i class="bi bi-check-square" style="font-size: 25px;color: white;"></i>
        </a>
        {{/if}}
        <!-- FIM VALIDAÇÃO GANHO -->
        <!-- FEATURES PADRÃO PARA AS DUAS SITUAÇÕES -->
        {{#if crm}}
        <a onclick='agendar("{{projeto._id}}","{{projeto.cliente}}","{{projeto.vendedor}}","{{agenda.data}}","{{agenda._id}}")'
            style="cursor: pointer;" title='agenda'>
            <i class='bi bi-calendar-date d-flex align-items-center mt-2'
                style="font-size: 25px;color: white;padding-right: 10px;"></i></a>
        {{/if}}
        <a data-bs-toggle="modal" data-bs-target='#observacao' class='' title='observações' style="cursor: pointer;">
            <i class='bi bi-chat-right-text d-flex align-items-center mt-2'
                style="font-size: 25px;color: white;padding-right: 10px;"></i>
        </a>
        <a href='/dashboard/' style="padding-right: 10px;" class='mt-1' title="voltar">
            <i class="bi bi-arrow-left-circle" style="font-size: 25px;color: white;"></i>
        </a>
    </div>
    {{else}}
    <!-- INICIO ORÇAMENTISTA -->
    {{#if orcamentista}}
    <div class="btn-group col-12 gap-2 ativo mt-1" style="border-radius: 200px;">
        <a href='/gerenciamento/orcamento/{{projeto._id}}' style="font-size: 20px;color: white;font-weight: 700;"
            class='btn btn-sm d-flex align-items-center'>&nbsp&nbsp
            <i class="bi bi-funnel d-flex align-items-center"></i>&nbspProposta
        </a>
        <input type='hidden' value='{{agenda.descricao}}' id="descricao">
        <a href='/relatorios/pedido/{{projeto._id}}' class='mt-1' title='pedido'><i class="bi bi-files"
                style="font-size: 25px;color: white;padding-right: 10px;"></i></a>
        {{#if projeto.ganho}}
        <!-- INICIO VALIDAÇÃO GANHO -->
        <a onclick='termoEntrega()' class='mt-1' title='termo de entrega'>
            <i class="bi bi-folder" style="font-size: 25px;color: white;padding-right: 5px;cursor: pointer;"></i>
        </a>
        {{else}}
        <a href='/gerenciamento/ganho/{{projeto._id}}/' style="margin-right: 10px;" class='mt-1'>
            <i class="bi bi-check-square" style="font-size: 25px;color: white;"></i>
        </a>
        {{/if}}
        <a href='' class="mt-1" data-bs-toggle="modal" data-bs-target='#orcamento' title='orçamento'>
            <i class='bi bi-eye' style="font-size: 25px;color: white;padding-right: 10px;"></i></a>
        <a href='/gerenciamento/exportarOrcamento/{{projeto._id}}' class="mt-1">
            <i class="bi bi-box-arrow-down" style="font-size: 25px;color: white;padding-right: 5px;"></i>
        </a>
        <a data-bs-toggle="modal" data-bs-target='#observacao' class='' title='observações' style="cursor: pointer;">
            <i class='bi bi-chat-right-text d-flex align-items-center mt-2'
                style="font-size: 25px;color: white;padding-right: 10px;"></i>
        </a>
        <a href='/dashboard/' style="padding-right: 10px;" class='mt-1' title="voltar">
            <i class="bi bi-arrow-left-circle" style="font-size: 25px;color: white;"></i>
        </a>
    </div>
    {{else}}
    <!-- SE VENDEDOR -->
    <div class="btn-group col-12 gap-2 ativo mt-1" style="border-radius: 200px;">
        <a href='/gerenciamento/orcamento/{{projeto._id}}' style="font-size: 20px;color: white;font-weight: 700;"
            class='btn btn-sm d-flex align-items-center'>&nbsp&nbsp
            <i class="bi bi-funnel d-flex align-items-center"></i>&nbspProposta
        </a>
        <input type='hidden' value='{{agenda.descricao}}' id="descricao">
        <a href='/relatorios/pedido/{{projeto._id}}' class='mt-1' title='pedido'><i class="bi bi-files"
                style="font-size: 25px;color: white;padding-right: 10px;"></i></a>
        {{#if projeto.ganho}}
        <a onclick='termoEntrega()' class='mt-1' title='termo de entrega'>
            <i class="bi bi-folder" style="font-size: 25px;color: white;padding-right: 5px;cursor: pointer;"></i>
        </a>
        {{else}}
        <a href='/gerenciamento/ganho/{{projeto._id}}/' style="margin-right: 10px;" class='mt-1'>
            <i class="bi bi-check-square" style="font-size: 25px;color: white;"></i>
        </a>
        {{/if}}<!-- FIM VALIDA GANHO -->
        <!-- FEATURES PADRÃO PARA AS DUAS SITUAÇÕES -->
        <a onclick='agendar("{{projeto._id}}","{{projeto.cliente}}","{{projeto.vendedor}}","{{agenda.data}}","{{agenda._id}}")'
            style="cursor: pointer;" title='agenda'>
            <i class='bi bi-calendar-date d-flex align-items-center mt-2'
                style="font-size: 25px;color: white;padding-right: 10px;"></i></a>
        <a data-bs-toggle="modal" data-bs-target='#observacao' class='' title='observações' style="cursor: pointer;">
            <i class='bi bi-chat-right-text d-flex align-items-center mt-2'
                style="font-size: 25px;color: white;padding-right: 10px;"></i>
        </a>
        <a href='/dashboard/' style="padding-right: 10px;" class='mt-1' title="voltar">
            <i class="bi bi-arrow-left-circle" style="font-size: 25px;color: white;"></i>
        </a>
    </div>
    {{/if}}<!-- FIM VENDEDOR -->
    {{/if}}<!-- FIM ORÇAMENTISTA -->
    {{!-- {{/if}}<!-- FIM MASTER --> --}}

    <!-- INICIO TABS -->
    <!-- GANHO -->
    {{#if projeto.ganho}}
    <!-- VALIDA SE NÃO É PROJETISTA -->
    {{#if funpro}}
    {{else}}
    <ul class="nav nav-tabs mb-2">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" style="margin: 0px solid;"
                href="/gerenciamento/orcamento/{{projeto._id}}"><label
                    class="col-form-label titulo-inicio ulinativo">Dados</label></a>
        </li>
        <a class="nav-link" aria-current="page"
            style="margin: 0px solid;{{#if projeto._id}}{{else}}display: none{{/if}}"
            href="/gerenciamento/fatura/{{projeto._id}}"><label
                class="col-form-label titulo-inicio ulinativo">Fatura</label></a>
        </li>
        <!-- VALIDA SE NÃO É ORÇAMENTISTA -->
        {{#if orcamentista}}
        {{else}}
        <li>
            <a class="nav-link" aria-current="page"
                style="margin: 0px solid;{{#if projeto._id}}{{else}}display: none{{/if}}"
                href="/gerenciamento/fotos/{{projeto._id}}"><label
                    class="col-form-label titulo-inicio ulativo">Fotos</label></a>
        </li>
        {{/if}}<!-- FIM VALIDAÇÃO -->
    </ul>
    {{/if}}<!-- FIM VALIDAÇÃO PROJETISTA -->
    <!-- NÃO GANHO -->
    {{else}}
    {{#if funpro}}
    {{else}}
    <ul class="nav nav-tabs mb-2">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" style="margin: 0px solid;"
                href="/gerenciamento/orcamento/{{projeto._id}}"><label
                    class="col-form-label titulo-inicio ulinativo">Dados</label></a>
        </li>
        <a class="nav-link" aria-current="page"
            style="margin: 0px solid;{{#if projeto._id}}{{else}}display: none{{/if}}"
            href="/gerenciamento/fatura/{{projeto._id}}"><label
                class="col-form-label titulo-inicio ulinativo">Fatura</label></a>
        </li>
        <!-- VALIDA SE NÃO É ORÇAMENTISTA -->
        {{#if orcamentista}}
        {{else}}
        <li>
            <a class="nav-link" aria-current="page"
                style="margin: 0px solid;{{#if projeto._id}}{{else}}display: none{{/if}}"
                href="/gerenciamento/fotos/{{projeto._id}}"><label
                    class="col-form-label titulo-inicio ulativo">Fotos</label></a>
        </li>
        {{/if}}
        <!-- FIM VALIDAÇÃO -->
    </ul>
    {{/if}}
    {{/if}} <!-- FIM TABS -->

    {{/if}}
    <!-- FIM SENÃO É PROJETISTA OU GESTOR -->

    <div>
        <section id="topo">
            <div class="col mt-1">
                <a href="#documento" class='btn btn-primary mb-1'>RG/CPF</a>
                <a href="#entrada" class='btn btn-primary mb-1'>Padrão de Entrada</a>
                <a href="#disjuntor" class='btn btn-primary mb-1'>Disjuntor</a>
                <a href="#medidor" class='btn btn-primary mb-1'>Medidor</a>
                <a href="#trafo" class='btn btn-primary mb-1'>Trafo</a>
                <a href="#telhado" class='btn btn-primary mb-1'>Telhado</a>
                <a href="#localizacao" class='btn btn-primary mb-1'>Localização</a>
            </div>
        </section>
        <section id="documento">
            <div class="card mt-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col text-start">
                            <label style="font-size: 30px;font-weight: 600;padding: 15px;">Adicionar RG/CPF</label>
                        </div>
                        <div class='col-md-1 text-end'>
                            <a href="#topo"><i class="bi bi-arrow-up-circle" style="font-size: 30px;"></i></a>
                        </div>
                    </div>
                    <form action="/gerenciamento/salvarFotos" method="post">
                        <input type="hidden" name="tipo" value="documento">
                        <input type='hidden' name='id' value="{{projeto._id}}">
                        <div>
                            <div class="btn-group gap-2" id='bloquear'>
                                <div class="btn start-video-doc" title='Ativar Câmera'><i style="font-size: 40px;"
                                        class='bi bi-camera-video-fill'></i></div>
                                <div class="btn picture-doc" title='Tirar uma foto'><i style="font-size: 40px;"
                                        class='bi bi-camera'></i></div>
                                <button type="submit" class="btn save-doc" title='Salvar Fotos' style="display: '';"
                                    id='upload-doc'><i style="font-size: 35px;" class='btn bi bi-save'></i> </button>
                            </div>
                        </div>
                        <div class="progress mb-3" style="width: 100px;margin-left: 125px;display: none">
                            <div class="progress-bar" id="progress-doc"></div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col is-four-fifths">
                                    <video src="" width="300px" id="video-doc" style="display: none;" muted
                                        autoplay></video>
                                </div>
                                <div class="col">
                                    <label style="display: none;font-size: 20px;padding-top: 30px;"
                                        id='lblscreen-doc'>Fotos Tiradas</label>
                                    <div class="row" id="screen-doc">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <canvas style="display: none;" id="canvas-doc"></canvas>
                    </form>
                    <form action="/gerenciamento/salvarImagem" class='bloquear' method="post"
                        enctype="multipart/form-data" id='bloquear1'>
                        <input type="hidden" name='tipo' value='projeto'>
                        <input type="hidden" name='caminho' value='documento'>
                        <input type="hidden" name='seq' value='{{seqdoc}}'>
                        <input type='hidden' name='idprj' value="{{projeto._id}}">
                        <div class="card">
                            <div class="card-body">
                                <label class='col-form-label col-form-label-sm'>Adicionar imagem da galeria</label>
                                <div>
                                    <input type="file" name="files" multiple class='form-control'>
                                    <button type="submit" class='btn btn-success mt-1'><i
                                            class='bi bi-save'></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    {{#if projeto.documento}}
                    <div class="row mt-3">
                        <label style="font-size: 20px;font-weight: 600;">Fotos Salvas</label>
                        {{#if lista_doc}}
                        {{#each lista_doc}}
                        <div class="col-md-3">
                            <div style="width: 1px;">
                                <a href='/gerenciamento/deletaImagem/{{desc}}delimg{{_id}}delimgfotosdelimg{{../projeto._id}}delimgdocumento'
                                    class='botao-filter'><i class='bi bi-x-circle'
                                        style="font-size: 20px;color: orangered"></i></a>
                            </div>
                            {{#if ehimagem}}
                            <a href='/gerenciamento/mostrarBucket/{{desc}}' target="_blank" style="font-size: 25px;">
                                <img src='/gerenciamento/mostrarBucket/{{desc}}' style="width: 80%;"
                                    alt='Minha Figura'></a>
                            {{/if}}
                            {{#if ehpdf}}
                            <a href='/gerenciamento/mostrarBucket/{{desc}}' target="_blank" style="font-size: 25px;">
                                <div style="font-size: 50px;">
                                    <img src='/img/pdf.png' style="width: 40%;" alt='Minha Figura'></img>
                                </div>
                                <i class="bi bi-arrow-down-circle"></i>
                            </a>
                            {{!-- <object data="/gerenciamento/mostrarBucket/{{desc}}" type="application/pdf"
                                width="100%" height="500">
                                <p>Seu navegador não tem um plugin pra PDF</p>
                            </object> --}}
                            {{/if}}
                        </div>
                        {{/each}}
                        {{/if}}
                    </div>
                    {{/if}}
                </div>
            </div>
        </section>
        <section id="entrada">
            <div class="card mt-4" style="margin-bottom: 50px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col text-start">
                            <label style="font-size: 30px;font-weight: 600;padding: 15px;">Adicionar Padrão de
                                Entrada</label>
                        </div>
                        <div class='col-md-1 text-end'>
                            <a href="#topo"><i class="bi bi-arrow-up-circle" style="font-size: 30px;"></i></a>
                        </div>
                    </div>
                    <form action="/gerenciamento/salvarFotos" method="post">
                        <input type="hidden" name="tipo" value="entrada">
                        <input type='hidden' name='id' value="{{projeto._id}}">
                        <div>
                            <div class="btn-group gap-2" id='bloquear1'>
                                <div class="btn start-video-entrada" title='Ativar Câmera'><i style="font-size: 40px;"
                                        class='bi bi-camera-video-fill'></i></div>
                                <div class="btn picture-entrada" title='Tirar uma foto'><i style="font-size: 40px;"
                                        class='bi bi-camera'></i></div>
                                <button type="submit" class="btn save-entrada" title='Salvar Fotos' style="display: '';"
                                    id='upload-entrada'><i style="font-size: 35px;" class='btn bi bi-save'></i>
                                </button>
                            </div>
                        </div>
                        <div class="progress mb-3" style="width: 100px;margin-left: 125px;display: none">
                            <div class="progress-bar" id="progress-entrada"></div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col is-four-fifths">
                                    <video src="" width="300px" id="video-entrada" style="display: none;" muted
                                        autoplay></video>
                                </div>
                                <div class="col">
                                    <label style="display: none;font-size: 20px;padding-top: 30px;"
                                        id='lblscreen-entrada'>Fotos Tiradas</label>
                                    <div class="row" id="screen-entrada">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <canvas style="display: none;" id="canvas-entrada"></canvas>
                    </form>
                    <form action="/gerenciamento/salvarImagem" class='bloquear' method="post"
                        enctype="multipart/form-data" id='bloquear1'>
                        <input type="hidden" name='tipo' value='projeto'>
                        <input type="hidden" name='caminho' value='entrada'>
                        <input type="hidden" name='seq' value='{{seqent}}'>
                        <input type='hidden' name='idprj' value="{{projeto._id}}">
                        <div class="card">
                            <div class="card-body">
                                <label class='col-form-label col-form-label-sm'>Adicionar imagem da galeria</label>
                                <div>
                                    <input type="file" name="files" multiple class='form-control'>
                                    <button type="submit" class='btn btn-success mt-1'><i
                                            class='bi bi-save'></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    {{#if projeto.entrada}}
                    <div class="row mt-3">
                        <label style="font-size: 20px;font-weight: 600;">Fotos Salvas</label>
                        {{#if lista_entrada}}
                        {{#each lista_entrada}}
                        <div class="col-md-3">
                            <div style="width: 1px;">
                                <a href='/gerenciamento/deletaImagem/{{desc}}delimg{{_id}}delimgfotosdelimg{{../projeto._id}}delimgentrada'
                                    class='botao-filter'><i class='bi bi-x-circle'
                                        style="font-size: 20px;color: orangered"></i></a>
                            </div>
                            {{#if ehimagem}}
                            <a href='/gerenciamento/mostrarBucket/{{desc}}' target="_blank" style="font-size: 25px;">
                                <img src='/gerenciamento/mostrarBucket/{{desc}}' style="width: 80%;"
                                    alt='Minha Figura'></a>
                            {{/if}}
                            {{#if ehpdf}}
                            <a href='/gerenciamento/mostrarBucket/{{desc}}' target="_blank" style="font-size: 25px;">
                                <div style="font-size: 50px;">
                                    <img src='/img/pdf.png' style="width: 40%;" alt='Minha Figura'></img>
                                </div>
                                <i class="bi bi-arrow-down-circle"></i>
                            </a>
                            {{!-- <object data="/gerenciamento/mostrarBucket/{{desc}}" type="application/pdf"
                                width="100%" height="500">
                                <p>Seu navegador não tem um plugin pra PDF</p>
                            </object> --}}
                            {{/if}}
                        </div>
                        {{/each}}
                        {{/if}}
                    </div>
                    {{/if}}
                </div>
            </div>
        </section>
        <section id="disjuntor">
            <div class="card mt-4" style="margin-bottom: 50px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col text-start">
                            <label style="font-size: 30px;font-weight: 600;padding: 15px;">Adicionar Disjuntor </label>
                        </div>
                        <div class='col-md-1 text-end'>
                            <a href="#topo"><i class="bi bi-arrow-up-circle" style="font-size: 30px;"></i></a>
                        </div>
                    </div>
                    <form action="/gerenciamento/salvarFotos" method="post">
                        <input type="hidden" name="tipo" value="disjuntor">
                        <input type='hidden' name='id' value="{{projeto._id}}">
                        <div>
                            <div class="btn-group gap-2" id='bloquear2'>
                                <div class="btn start-video-disjuntor" title='Ativar Câmera'><i style="font-size: 40px;"
                                        class='bi bi-camera-video-fill'></i></div>
                                <div class="btn picture-disjuntor" title='Tirar uma foto'><i style="font-size: 40px;"
                                        class='bi bi-camera'></i></div>
                                <button type="submit" class="btn save-disjuntor" title='Salvar Fotos'
                                    style="display: '';" id='upload-disjuntor'><i style="font-size: 35px;"
                                        class='btn bi bi-save'></i> </button>
                            </div>
                        </div>
                        <div class="progress mb-3" style="width: 100px;margin-left: 125px;display: none">
                            <div class="progress-bar" id="progress-disjuntor"></div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col is-four-fifths">
                                    <video src="" width="300px" id="video-disjuntor" style="display: none;" muted
                                        autoplay></video>
                                </div>
                                <div class="col">
                                    <label style="display: none;font-size: 20px;padding-top: 30px;"
                                        id='lblscreen-disjuntor'>Fotos Tiradas</label>
                                    <div class="row" id="screen-disjuntor">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <canvas style="display: none;" id="canvas-disjuntor"></canvas>
                    </form>
                    <form action="/gerenciamento/salvarImagem" class='bloquear' method="post"
                        enctype="multipart/form-data" id='bloquear1'>
                        <input type="hidden" name='tipo' value='projeto'>
                        <input type="hidden" name='caminho' value='disjuntor'>
                        <input type="hidden" name='seq' value='{{seqdis}}'>
                        <input type='hidden' name='id' value="{{projeto._id}}">
                        <div class="card">
                            <div class="card-body">
                                <label class='col-form-label col-form-label-sm'>Adicionar imagem da galeria</label>
                                <div>
                                    <input type="file" name="files" multiple class='form-control'>
                                    <button type="submit" class='btn btn-success mt-1'><i
                                            class='bi bi-save'></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    {{#if projeto.disjuntor}}
                    <div class="row mt-3">
                        <label style="font-size: 20px;font-weight: 600;">Fotos Salvas</label>
                        {{#if lista_disjuntor}}
                        {{#each lista_disjuntor}}
                        <div class="col-md-3">
                            <div style="width: 1px;">
                                <a href='/gerenciamento/deletaImagem/{{desc}}delimg{{_id}}delimgfotosdelimg{{../projeto._id}}delimgdisjuntor'
                                    class='botao-filter'><i class='bi bi-x-circle'
                                        style="font-size: 20px;color: orangered"></i></a>
                            </div>
                            {{#if ehimagem}}
                            <a href='/gerenciamento/mostrarBucket/{{desc}}' target="_blank" style="font-size: 25px;">
                                <img src='/gerenciamento/mostrarBucket/{{desc}}' style="width: 80%;"
                                    alt='Minha Figura'></a>
                            {{/if}}
                            {{#if ehpdf}}
                            <a href='/gerenciamento/mostrarBucket/{{desc}}' target="_blank" style="font-size: 25px;">
                                <div style="font-size: 50px;">
                                    <img src='/img/pdf.png' style="width: 40%;" alt='Minha Figura'></img>
                                </div>
                                <i class="bi bi-arrow-down-circle"></i>
                            </a>
                            {{/if}}
                        </div>
                        {{/each}}
                        {{/if}}
                    </div>
                    {{/if}}
                </div>
            </div>
        </section>
        <section id="medidor">
            <div class="card mt-4" style="margin-bottom: 50px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col text-start">
                            <label style="font-size: 30px;font-weight: 600;padding: 15px;">Adicionar Medidor </label>
                        </div>
                        <div class='col-md-1 text-end'>
                            <a href="#topo"><i class="bi bi-arrow-up-circle" style="font-size: 30px;"></i></a>
                        </div>
                    </div>
                    <form action="/gerenciamento/salvarFotos" method="post">
                        <input type="hidden" name="tipo" value="medidor">
                        <input type='hidden' name='id' value="{{projeto._id}}">
                        <div>
                            <div class="btn-group gap-2" id='bloquear2'>
                                <div class="btn start-video-medidor" title='Ativar Câmera'><i style="font-size: 40px;"
                                        class='bi bi-camera-video-fill'></i></div>
                                <div class="btn picture-medidor" title='Tirar uma foto'><i style="font-size: 40px;"
                                        class='bi bi-camera'></i></div>
                                <button type="submit" class="btn save-medidor" title='Salvar Fotos' style="display: '';"
                                    id='upload-medidor'><i style="font-size: 35px;" class='btn bi bi-save'></i>
                                </button>
                            </div>
                        </div>
                        <div class="progress mb-3" style="width: 100px;margin-left: 125px;display: none">
                            <div class="progress-bar" id="progress-medidor"></div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col is-four-fifths">
                                    <video src="" width="300px" id="video-medidor" style="display: none;" muted
                                        autoplay></video>
                                </div>
                                <div class="col">
                                    <label style="display: none;font-size: 20px;padding-top: 30px;"
                                        id='lblscreen-medidor'>Fotos Tiradas</label>
                                    <div class="row" id="screen-medidor">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <canvas style="display: none;" id="canvas-medidor"></canvas>
                    </form>
                    <form action="/gerenciamento/salvarImagem" class='bloquear' method="post"
                        enctype="multipart/form-data" id='bloquear1'>
                        <input type="hidden" name='tipo' value='projeto'>
                        <input type="hidden" name='caminho' value='medidor'>
                        <input type="hidden" name='seq' value='{{seqmed}}'>
                        <input type='hidden' name='idprj' value="{{projeto._id}}">
                        <div class="card">
                            <div class="card-body">
                                <label class='col-form-label col-form-label-sm'>Adicionar imagem da galeria</label>
                                <div>
                                    <input type="file" name="files" multiple class='form-control'>
                                    <button type="submit" class='btn btn-success mt-1'><i
                                            class='bi bi-save'></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    {{#if projeto.medidor}}
                    <div class="row mt-3">
                        <label style="font-size: 20px;font-weight: 600;">Fotos Salvas</label>
                        {{#if lista_medidor}}
                        {{#each lista_medidor}}
                        <div class="col-md-3">
                            <div style="width: 1px;">
                                <a href='/gerenciamento/deletaImagem/{{desc}}delimg{{_id}}delimgfotosdelimg{{../projeto._id}}delimgmedidor'
                                    class='botao-filter'><i class='bi bi-x-circle'
                                        style="font-size: 20px;color: orangered"></i></a>
                            </div>
                            {{#if ehimagem}}
                            <a href='/gerenciamento/mostrarBucket/{{desc}}' target="_blank" style="font-size: 25px;">
                                <img src='/gerenciamento/mostrarBucket/{{desc}}' style="width: 80%;"
                                    alt='Minha Figura'></a>
                            {{/if}}
                            {{#if ehpdf}}
                            <a href='/gerenciamento/mostrarBucket/{{desc}}' target="_blank" style="font-size: 25px;">
                                <div style="font-size: 50px;">
                                    <img src='/img/pdf.png' style="width: 40%;" alt='Minha Figura'></img>
                                </div>
                                <i class="bi bi-arrow-down-circle"></i>
                            </a>
                            {{/if}}
                        </div>
                        {{/each}}
                        {{/if}}
                    </div>
                    {{/if}}
                </div>
            </div>
        </section>
        <section id="trafo">
            <div class="card mt-4" style="margin-bottom: 50px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col text-start">
                            <label style="font-size: 30px;font-weight: 600;padding: 15px;">Adicionar Trafo </label>
                        </div>
                        <div class='col-md-1 text-end'>
                            <a href="#topo"><i class="bi bi-arrow-up-circle" style="font-size: 30px;"></i></a>
                        </div>
                    </div>
                    <form action="/gerenciamento/salvarFotos" method="post">
                        <input type="hidden" name="tipo" value="trafo">
                        <input type='hidden' name='id' value="{{projeto._id}}">
                        <div>
                            <div class="btn-group gap-2" id='bloquear3'>
                                <div class="btn start-video-trafo" title='Ativar Câmera'><i style="font-size: 40px;"
                                        class='bi bi-camera-video-fill'></i></div>
                                <div class="btn picture-trafo" title='Tirar uma foto'><i style="font-size: 40px;"
                                        class='bi bi-camera'></i></div>
                                <button type="submit" class="btn save-trafo" title='Salvar Fotos' style="display: '';"
                                    id='upload-trafo'><i style="font-size: 35px;" class='btn bi bi-save'></i> </button>
                            </div>
                        </div>
                        <div class="progress mb-3" style="width: 100px;margin-left: 125px;display: none">
                            <div class="progress-bar" id="progress-trafo"></div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col is-four-fifths">
                                    <video src="" width="300px" id="video-trafo" style="display: none;" muted
                                        autoplay></video>
                                </div>
                                <div class="col">
                                    <label style="display: none;font-size: 20px;padding-top: 30px;"
                                        id='lblscreen-trafo'>Fotos Tiradas</label>
                                    <div class="row" id="screen-trafo">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <canvas style="display: none;" id="canvas-trafo"></canvas>
                    </form>
                    <form action="/gerenciamento/salvarImagem" class='bloquear' method="post"
                        enctype="multipart/form-data" id='bloquear1'>
                        <input type="hidden" name='tipo' value='projeto'>
                        <input type="hidden" name='caminho' value='trafo'>
                        <input type="hidden" name='seq' value='{{seqtrf}}'>
                        <input type='hidden' name='idprj' value="{{projeto._id}}">
                        <div class="card">
                            <div class="card-body">
                                <label class='col-form-label col-form-label-sm'>Adicionar imagem da galeria</label>
                                <div>
                                    <input type="file" name="files" multiple class='form-control'>
                                    <button type="submit" class='btn btn-success mt-1'><i
                                            class='bi bi-save'></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    {{#if projeto.trafo}}
                    <div class="row mt-3">
                        <label style="font-size: 20px;font-weight: 600;">Fotos Salvas</label>
                        {{#if lista_trafo}}
                        {{#each lista_trafo}}
                        <div class="col-md-3">
                            <div style="width: 1px;">
                                <a href='/gerenciamento/deletaImagem/{{desc}}delimg{{_id}}delimgfotosdelimg{{../projeto._id}}delimgtrafo'
                                    class='botao-filter'><i class='bi bi-x-circle'
                                        style="font-size: 20px;color: orangered"></i></a>
                            </div>
                            {{#if ehimagem}}
                            <a href='/gerenciamento/mostrarBucket/{{desc}}' target="_blank" style="font-size: 25px;">
                                <img src='/gerenciamento/mostrarBucket/{{desc}}' style="width: 80%;"
                                    alt='Minha Figura'></a>
                            {{/if}}
                            {{#if ehpdf}}
                            <a href='/gerenciamento/mostrarBucket/{{desc}}' target="_blank" style="font-size: 25px;">
                                <div style="font-size: 50px;">
                                    <img src='/img/pdf.png' style="width: 40%;" alt='Minha Figura'></img>
                                </div>
                                <i class="bi bi-arrow-down-circle"></i>
                            </a>
                            {{/if}}
                        </div>
                        {{/each}}
                        {{/if}}
                    </div>
                    {{/if}}
                </div>
            </div>
        </section>
        <section id="telhado">
            <div class="card mt-4" style="margin-bottom: 50px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col text-start">
                            <label style="font-size: 30px;font-weight: 600;padding: 15px;">Adicionar Tellhado
                            </label>
                        </div>
                        <div class='col-md-1 text-end'>
                            <a href="#topo"><i class="bi bi-arrow-up-circle" style="font-size: 30px;"></i></a>
                        </div>
                    </div>
                    <form action="/gerenciamento/salvarFotos" method="post">
                        <input type="hidden" name="tipo" value="telhado">
                        <input type='hidden' name='id' value="{{projeto._id}}">
                        <div>
                            <div class="btn-group gap-2" id='bloquear4'>
                                <div class="btn start-video-telhado" title='Ativar Câmera'><i style="font-size: 40px;"
                                        class='bi bi-camera-video-fill'></i></div>
                                <div class="btn picture-telhado" title='Tirar uma foto'><i style="font-size: 40px;"
                                        class='bi bi-camera'></i></div>
                                <button type="submit" class="btn save-telhado" title='Salvar Fotos' style="display: '';"
                                    id='upload-telhado'><i style="font-size: 35px;" class='btn bi bi-save'></i>
                                </button>
                            </div>
                        </div>
                        <div class="progress mb-3" style="width: 100px;margin-left: 125px;display: none">
                            <div class="progress-bar" id="progress-telhado"></div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col is-four-fifths">
                                    <video src="" width="300px" id="video-telhado" style="display: none;" muted
                                        autoplay></video>
                                </div>
                                <div class="col">
                                    <label style="display: none;font-size: 20px;padding-top: 30px;"
                                        id='lblscreen-telhado'>Fotos Tiradas</label>
                                    <div class="row" id="screen-telhado">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <canvas style="display: none;" id="canvas-telhado"></canvas>
                    </form>
                    <form action="/gerenciamento/salvarImagem" class='bloquear' method="post"
                        enctype="multipart/form-data" id='bloquear1'>
                        <input type="hidden" name='tipo' value='projeto'>
                        <input type="hidden" name='caminho' value='telhado'>
                        <input type="hidden" name='seq' value='{{seqtel}}'>
                        <input type='hidden' name='idprj' value="{{projeto._id}}">
                        <div class="card">
                            <div class="card-body">
                                <label class='col-form-label col-form-label-sm'>Adicionar imagem da galeria</label>
                                <div>
                                    <input type="file" name="files" multiple class='form-control'>
                                    <button type="submit" class='btn btn-success mt-1'><i
                                            class='bi bi-save'></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    {{#if projeto.telhado_foto}}
                    <div class="row mt-3">
                        <label style="font-size: 20px;font-weight: 600;">Fotos Salvas</label>
                        {{#if lista_telhado}}
                        {{#each lista_telhado}}
                        <div class="col-md-3">
                            <div style="width: 1px;">
                                <a href='/gerenciamento/deletaImagem/{{desc}}delimg{{_id}}delimgfotosdelimg{{../projeto._id}}delimgtelhado'
                                    class='botao-filter'><i class='bi bi-x-circle'
                                        style="font-size: 20px;color: orangered"></i></a>
                            </div>
                            {{#if ehimagem}}
                            <a href='/gerenciamento/mostrarBucket/{{desc}}' target="_blank" style="font-size: 25px;">
                                <img src='/gerenciamento/mostrarBucket/{{desc}}' style="width: 80%;"
                                    alt='Minha Figura'></a>
                            {{/if}}
                            {{#if ehpdf}}
                            <a href='/gerenciamento/mostrarBucket/{{desc}}' target="_blank" style="font-size: 25px;">
                                <div style="font-size: 50px;">
                                    <img src='/img/pdf.png' style="width: 40%;" alt='Minha Figura'></img>
                                </div>
                                <i class="bi bi-arrow-down-circle"></i>
                            </a>
                            {{/if}}
                        </div>
                        {{/each}}
                        {{/if}}
                    </div>
                    {{/if}}
                </div>
            </div>
        </section>
        <section id="localizacao">
            <div class="card mt-4" style="margin-bottom: 50px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col text-start">
                            <label style="font-size: 30px;font-weight: 600;padding: 15px;">Adicionar Localização
                            </label>
                        </div>
                        <div class='col-md-1 text-end'>
                            <a href="#topo"><i class="bi bi-arrow-up-circle" style="font-size: 30px;"></i></a>
                        </div>
                    </div>
                    <form action="/gerenciamento/salvarFotos" method="post">
                        <input type="hidden" name="tipo" value="localizacao">
                        <input type='hidden' name='id' value="{{projeto._id}}">
                        <div>
                            <div class="btn-group gap-2" id='bloquear4'>
                                <div class="btn start-video-localizacao" title='Ativar Câmera'><i
                                        style="font-size: 40px;" class='bi bi-camera-video-fill'></i></div>
                                <div class="btn picture-localizacao" title='Tirar uma foto'><i style="font-size: 40px;"
                                        class='bi bi-camera'></i></div>
                                <button type="submit" class="btn save-localizacao" title='Salvar Fotos'
                                    style="display: '';" id='upload-localizacao'><i style="font-size: 35px;"
                                        class='btn bi bi-save'></i> </button>
                            </div>
                        </div>
                        <div class="progress mb-3" style="width: 100px;margin-left: 125px;display: none">
                            <div class="progress-bar" id="progress-localizacao"></div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col is-four-fifths">
                                    <video src="" width="300px" id="video-localizacao" style="display: none;" muted
                                        autoplay></video>
                                </div>
                                <div class="col">
                                    <label style="display: none;font-size: 20px;padding-top: 30px;"
                                        id='lblscreen-localizacao'>Fotos Tiradas</label>
                                    <div class="row" id="screen-localizacao">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <canvas style="display: none;" id="canvas-localizacao"></canvas>
                    </form>
                    <form action="/gerenciamento/salvarImagem" class='bloquear' method="post"
                        enctype="multipart/form-data" id='bloquear1'>
                        <input type="hidden" name='tipo' value='projeto'>
                        <input type="hidden" name='caminho' value='localizacao'>
                        <input type="hidden" name='seq' value='{{seqloc}}'>
                        <input type='hidden' name='idprj' value="{{projeto._id}}">
                        <div class="card">
                            <div class="card-body">
                                <label class='col-form-label col-form-label-sm'>Adicionar imagem da galeria</label>
                                <div>
                                    <input type="file" name="files" multiple class='form-control'>
                                    <button type="submit" class='btn btn-success mt-1'><i
                                            class='bi bi-save'></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    {{#if projeto.localizacao}}
                    <div class="row mt-3">
                        <label style="font-size: 20px;font-weight: 600;">Fotos Salvas</label>
                        {{#if lista_localizacao}}
                        {{#each lista_localizacao}}
                        <div class="col-md-3">
                            <div style="width: 1px;">
                                <a href='/gerenciamento/deletaImagem/{{desc}}delimg{{_id}}delimgfotosdelimg{{../projeto._id}}delimglocalizacao'
                                    class='botao-filter'><i class='bi bi-x-circle'
                                        style="font-size: 20px;color: orangered"></i></a>
                            </div>
                            {{#if ehimagem}}
                            <a href='/gerenciamento/mostrarBucket/{{desc}}' target="_blank" style="font-size: 25px;">
                                <img src='/gerenciamento/mostrarBucket/{{desc}}' style="width: 80%;"
                                    alt='Minha Figura'></a>
                            {{/if}}
                            {{#if ehpdf}}
                            <a href='/gerenciamento/mostrarBucket/{{desc}}' target="_blank" style="font-size: 25px;">
                                <div style="font-size: 50px;">
                                    <img src='/img/pdf.png' style="width: 40%;" alt='Minha Figura'></img>
                                </div>
                                <i class="bi bi-arrow-down-circle"></i>
                            </a>
                            {{/if}}
                        </div>
                        {{/each}}
                        {{/if}}
                    </div>
                    {{/if}}
                </div>
            </div>
        </section>
        <section id="fotoped">
            <div class="card mt-4" style="margin-bottom: 200px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2 text-start">
                            <label style="font-size: 30px;font-weight: 600;padding: 15px;">Pedido
                            </label>
                        </div>
                        <div class="col">
                            <a href='/relatorios/pedido/{{projeto._id}}'
                                style="color: rgb(40, 55, 86);font-size: 30px;"><i
                                    class="bi bi-printer d-flex align-items-left mt-3"></i></a>
                        </div>
                        <div class='col-md-1 text-end'>
                            <a href="#topo"><i class="bi bi-arrow-up-circle" style="font-size: 30px;"></i></a>
                        </div>
                    </div>

                    {{!-- <form action="/gerenciamento/salvarFotos" method="post">
                        <input type="hidden" name="tipo" value="fotoped">
                        <input type='hidden' name='id' value="{{projeto._id}}">
                        <div>
                            <div class="btn-group gap-2" id='bloquear5'>
                                <div class="btn start-video-fotoped" title='Ativar Câmera'><i style="font-size: 40px;"
                                        class='bi bi-camera-video-fill'></i></div>
                                <div class="btn picture-fotoped" title='Tirar uma foto'><i style="font-size: 40px;"
                                        class='bi bi-camera'></i></div>
                                <button type="submit" class="btn save-fotoped" title='Salvar Fotos' style="display: '';"
                                    id='upload-fotoped'><i style="font-size: 35px;" class='btn bi bi-save'></i>
                                </button>
                            </div>
                        </div>
                        <div class="progress mb-3" style="width: 100px;margin-left: 125px;display: none">
                            <div class="progress-bar" id="progress-fotoped"></div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col is-four-fifths">
                                    <video src="" width="300px" id="video-fotoped" style="display: none;" muted
                                        autoplay></video>
                                </div>
                                <div class="col">
                                    <label style="display: none;font-size: 20px;padding-top: 30px;"
                                        id='lblscreen-fotoped'>Fotos Tiradas</label>
                                    <div class="row" id="screen-fotoped">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <canvas style="display: none;" id="canvas-fotoped"></canvas>
                    </form> --}}
                    {{!-- <form action="/gerenciamento/salvarImagem" class='bloquear' method="post"
                        enctype="multipart/form-data" id='bloquear1'>
                        <input type="hidden" name='tipo' value='projeto'>
                        <input type="hidden" name='caminho' value='fotoped'>
                        <input type='hidden' name='id' value="{{projeto._id}}">
                        <div class="card">
                            <div class="card-body">
                                <label class='col-form-label col-form-label-sm'>Adicionar imagem da galeria</label>
                                <div>
                                    <input type="file" name="files" multiple class='form-control'>
                                    <button type="submit" class='btn btn-success mt-1'><i
                                            class='bi bi-save'></i></button>
                                </div>
                            </div>
                        </div>
                    </form> --}}
                    {{!-- {{#if projeto.fotoped}}
                    <div class="row mt-3">
                        <label style="font-size: 20px;font-weight: 600;">Fotos Salvas</label>
                        {{#if lista_fotoped}}
                        {{#each lista_fotoped}}
                        <div class="col-md-3">
                            <div style="width: 1px;">
                                <a href='/gerenciamento/deletaImagem/{{desc}}delimg{{_id}}delimgfotosdelimg{{../projeto._id}}fotosped'
                                    class='botao-filter'><i class='bi bi-x-circle'
                                        style="font-size: 20px;color: orangered"></i></a>
                            </div>
                            {{#if ehimagem}}
                            <a href='/gerenciamento/mostrarBucket/{{desc}}' target="_blank" style="font-size: 25px;">
                                <img src='/gerenciamento/mostrarBucket/{{desc}}' style="width: 80%;"
                                    alt='Minha Figura'></a>
                            {{/if}}
                            {{#if ehpdf}}
                            <a href='/gerenciamento/mostrarBucket/{{desc}}' target="_blank" style="font-size: 25px;">
                                <div style="font-size: 50px;">
                                    <img src='/img/pdf.png' style="width: 40%;" alt='Minha Figura'></img>
                                </div>
                                <i class="bi bi-arrow-down-circle"></i>
                            </a>
                            {{/if}}
                        </div>
                        {{/each}}
                        {{/if}}
                    </div>
                    {{/if}} --}}
                </div>
            </div>
        </section>
    </div>
</div>

<script>
    function carregar(texto) {
        let timerInterval
        Swal.fire({
            title: 'Aguarde um momento!',
            html: texto,
            timer: 500,
            timerProgressBar: true,
            didOpen: () => {
                Swal.showLoading()
                const b = Swal.getHtmlContainer().querySelector('b')
                timerInterval = setInterval(() => {
                    b.textContent = Swal.getTimerLeft()
                }, 100)
            },
            willClose: () => {
                clearInterval(timerInterval)
            }
        }).then((result) => {
            /* Read more about handling dismissals below */
            if (result.dismiss === Swal.DismissReason.timer) {
                console.log('I was closed by the timer')
            }
        })
    }
    function move(salvarId, progressId) {
        const btnsalvar = document.getElementById(salvarId)
        var elem = document.getElementById(progressId)
        var width = 1
        var id = setInterval(frame, 100)
        function frame() {
            if (width >= 100) {
                clearInterval(id)
                btnsalvar.style.display = ''
            } else {
                width++
                elem.style.width = width + '%'
            }
        }
    }


    function startCamera(videoId, screenId) {
        navigator.mediaDevices.getUserMedia({
            video: {
                width: {
                    min: 1280,
                    ideal: 1920,
                    max: 2560,
                },
                height: {
                    min: 720,
                    ideal: 1080,
                    max: 1440,
                },
                facingMode: 'environment'
            },
        }).then((stream) => {

            const lblscreen = document.getElementById(screenId)
            const video = document.getElementById(videoId)
            lblscreen.style.display = ''
            video.style.display = ''
            document.getElementById(videoId).srcObject = stream
        })
    }


    function takePicture(screenId, canvasId, videoId, salvarId, progressId) {
        const screen = document.getElementById(screenId)
        const canvas = document.getElementById(canvasId)
        const context = canvas.getContext('2d')
        const video = document.getElementById(videoId)

        const col = document.createElement("div")
        const div0 = document.createElement("div")
        const div1 = document.createElement("div")
        const div2 = document.createElement("div")
        const div3 = document.createElement("div")
        const img = document.createElement("img")
        const fileimg = document.createElement("input")
        const imgblob = document.createElement('input')
        //const inputFiles = document.getElementById('files')

        canvas.width = video.videoWidth
        canvas.height = video.videoHeight
        context.drawImage(video, 0, 0)

        //var imagem = document.getElementById('id_do_input');
        //imagem.src = imagem;
        var image = canvas.toDataURL('image/png')

        fileimg.name = 'imagem'
        fileimg.value = image
        fileimg.type = 'hidden'

        canvas.toBlob(function (blob) {
            var url
            url = URL.createObjectURL(blob)
            img.style.width = '200px'
            img.src = url
            imgblob.name = 'imgblob'
            imgblob.type = 'hidden'
            imgblob.value = url

            var idiv = url.replace('blob:https://vimmus.com.br/', '')
            //var idiv = url.replace('blob:http://  st:3001/', '')

            div0.className = 'row'
            div1.className = 'col-md-4'
            div2.style.width = '5px'
            div2.style.cursor = 'pointer'
            div3.innerHTML = '<i class="bi bi-x-circle"></i>'
            div3.addEventListener('click', (e) => {
                node = document.getElementById(idiv)
                node.parentNode.removeChild(node)
            })

            //move(salvarId, progressId)
            div0.id = idiv
            div2.append(div3)
            div1.prepend(img)
            div1.prepend(imgblob)
            div1.append(fileimg)
            div0.append(div2)
            div0.append(div1)
            screen.prepend(div0)

        }, 'image/png')
        carregar('Capturando a imagem!')
    }


    document.querySelector('.start-video-doc').addEventListener('click', event => { startCamera('video-doc', 'lblscreen-doc') })

    document.querySelector('.picture-doc').addEventListener('click', event => { takePicture('screen-doc', 'canvas-doc', 'video-doc', 'upload-doc', 'progress-doc') })

    document.querySelector('.save-doc').addEventListener('click', event => { carregar('Fazendo upload da(s) imagem(ns)!') })

    document.querySelector('.start-video-entrada').addEventListener('click', event => { startCamera('video-entrada', 'lblscreen-entrada') })

    document.querySelector('.picture-entrada').addEventListener('click', event => { takePicture('screen-entrada', 'canvas-entrada', 'video-entrada', 'upload-entrada', 'progress-entrada') })

    document.querySelector('.save-entrada').addEventListener('click', event => { carregar('Fazendo upload da(s) imagem(ns)!') })

    document.querySelector('.start-video-disjuntor').addEventListener('click', event => { startCamera('video-disjuntor', 'lblscreen-disjuntor') })

    document.querySelector('.picture-disjuntor').addEventListener('click', event => { takePicture('screen-disjuntor', 'canvas-disjuntor', 'video-disjuntor', 'upload-disjuntor', 'progress-disjuntor') })

    document.querySelector('.save-disjuntor').addEventListener('click', event => { carregar('Fazendo upload da(s) imagem(ns)!') })

    document.querySelector('.start-video-medidor').addEventListener('click', event => { startCamera('video-medidor', 'lblscreen-medidor') })

    document.querySelector('.picture-medidor').addEventListener('click', event => { takePicture('screen-medidor', 'canvas-medidor', 'video-medidor', 'upload-medidor', 'progress-medidor') })

    document.querySelector('.save-medidor').addEventListener('click', event => { carregar('Fazendo upload da(s) imagem(ns)!') })

    document.querySelector('.start-video-trafo').addEventListener('click', event => { startCamera('video-trafo', 'lblscreen-trafo') })

    document.querySelector('.picture-trafo').addEventListener('click', event => { takePicture('screen-trafo', 'canvas-trafo', 'video-trafo', 'upload-trafo', 'progress-trafo') })

    document.querySelector('.save-trafo').addEventListener('click', event => { carregar('Fazendo upload da(s) imagem(ns)!') })

    document.querySelector('.start-video-localizacao').addEventListener('click', event => { startCamera('video-localizacao', 'lblscreen-localizacao') })

    document.querySelector('.picture-localizacao').addEventListener('click', event => { takePicture('screen-localizacao', 'canvas-localizacao', 'video-localizacao', 'upload-localizacao', 'progress-localizacao') })

    document.querySelector('.save-localizacao').addEventListener('click', event => { carregar('Fazendo upload da(s) imagem(ns)!') })

    document.querySelector('.start-video-telhado').addEventListener('click', event => { startCamera('video-telhado', 'lblscreen-telhado') })

    document.querySelector('.picture-telhado').addEventListener('click', event => { takePicture('screen-telhado', 'canvas-telhado', 'video-telhado', 'upload-telhado', 'progress-telhado') })

    document.querySelector('.save-telhado').addEventListener('click', event => { carregar('Fazendo upload da(s) imagem(ns)!') })

    document.querySelector('.start-video-fotoped').addEventListener('click', event => { startCamera('video-fotoped', 'lblscreen-fotoped') })

    document.querySelector('.picture-fotoped').addEventListener('click', event => { takePicture('screen-fotoped', 'canvas-fotoped', 'video-fotoped', 'upload-fotoped', 'progress-fotoped') })

    document.querySelector('.save-fotoped').addEventListener('click', event => { carregar('Fazendo upload da(s) imagem(ns)!') })

</script>