<script>
    function mascara(data) {
        if (data.length == 10) {
            var ano = String(data).substring(0, 4)
            var mes = String(data).substring(5, 7)
            var dia = String(data).substring(8, 10)
            return dia + '/' + mes + '/' + ano
        } else {
            return 'Sem Data'
        }
    }
    window.onload = function () {

        var dtinicio = document.getElementById('dtinicio')
        dtinicio.innerHTML = mascara(dtinicio.innerHTML)

        var dtvalidade1 = document.getElementById('dtfim')
        dtfim.innerHTML = mascara(dtfim.innerHTML)
    }
    function confirma() {
        var tarefa = document.getElementById('id')
        alert(tarefa.value)

        Swal.fire({
            title: '<label style="font-size: 20px">Confirme para finalizar a tarefa</label>',
            showCancelButton: true,
            confirmButtonText: 'Save',
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                window.location.href = '/gerenciamento/realizar/' + tarefa.value
            }
        })
    }
</script>
<div style="width: 98%;padding-left: 2%;padding-top: 0.5%;">
    <div class="modal fade" id="mostragps" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Localização</h5>
                    <button type="button" class="btn btn-sm btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100%;">
        <h5 class="header">{{cliente.nome}} </h5>
    </div>
    <div class='row'>
        <div class='col-md-7'>
            <div class="row">
                <div class="col">
                    <label class="col-form-label">Responsáveis</label><br>
                    <label class="col-form-label col-form-label-sm">Gestor: {{gestor.nome}}
                        {{responsavel.nome}}</label><br>
                    <label class="col-form-label col-form-label-sm">Técnico: {{tecnico.nome}} {{insres.nome}} </label>
                </div>
                {{#if tarefa}}
                <div class="col-md-7 text-end">
                    <div class="btn-group gap-1">
                        {{#if realizar}}
                        <label class='col-form-label col-form-label-sm'><i
                                class='bi bi-check d-flex align-items-center'>Tarefa
                                Realizada</i></label>
                        {{else}}
                        <button onclick="confirma()" class='btn btn-sm btn-primary'></i>Realizar</button>
                        {{/if}}
                        {{#if equipe.liberar}}
                        <label class='col-form-label col-form-label-sm'><i
                                class='bi bi-check d-flex align-items-center'>Equipe
                                Liberada</i></label>
                        {{else}}
                        <a href='/gerenciamento/enviarequipe/{{tarefa._id}}' class='btn btn-sm btn-primary'>Comunicar
                            Equipe</a>
                        {{/if}}
                        <a href='/gerenciamento/tarefas/{{tarefa._id}}' class='btn btn-sm btn-primary'><i
                                class='bi bi-arrow'></i>Tarefa</a>
                    </div>
                </div>
                {{else}}
                <div class="col text-end">
                    <div class="btn-group gap-1">
                        <a href='/gerenciamento/emandamento/lista' class='btn btn-sm btn-primary'><i
                                class='bi bi-arrow-return-left'></i>Lista</a>
                        <a href='/gerenciamento/proposta/{{proposta._id}}' class='btn btn-sm btn-primary'><i
                                class='bi bi-arrow-return-left'></i>Proposta</a>
                    </div>
                </div>
                {{/if}}
            </div>
            <hr>
            <div class="row">
                <label class="col-form-label fw-bold text-center mt-1">Local do Serviço</label>
                <div class="col-md-2 text-start">
                    <label class="col-form-label">Endereço:</label>
                </div>
                <div class="col text-start">
                    <label class="col-form-label">{{tarefa.endereco}}{{proposta.endereco}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 text-end">
                    <label class="col-form-label">Cidade:</label>
                </div>
                <div class="col-md-5 text-start">
                    <label class="col-form-label">{{tarefa.cidade}}{{proposta.cidade}}</label>
                </div>
                <div class="col-md-1 text-end">
                    <label class="col-form-label">Estado:</label>
                </div>
                <div class="col text-start">
                    <label class="col-form-label">{{tarefa.uf}}{{proposta.uf}}</label>
                </div>
            </div>
            <hr>
            {{#if proposta}}
            <div class="row">
                <label class="col-form-label fw-bold text-center mt-1">Atividades</label>
                <div class="btn-group gap-4">
                    <a class='btn btn-primary' href='/gerenciamento/atvt/{{proposta._id}}'>Telhado</a>
                    <a class='btn btn-primary' href='/gerenciamento/atvi/{{proposta._id}}'>Inversor</a>
                    <a class='btn btn-primary' href='/gerenciamento/atva/{{proposta._id}}'>Aterramento</a>
                </div>
            </div>
            {{else}}
            <a class='btn btn-primary' href='/gerenciamento/mostrarGaleria/{{tarefa._id}}galeria-tarefa'>Fotos</a>
            {{/if}}
            <div class="row mt-2">
                <div class="col">
                    <label class="col-form-label">Previsão Inicio: </label>
                    <label class='col-form-label' id='dtinicio'>{{equipe.dtinicio}}</label>
                </div>
                <div class="col">
                    <label class="col-form-label">Previsão Fim:</label>
                    <label class='col-form-label' id='dtfim'>{{equipe.dtfim}}</label>
                </div>
            </div>
            <div class='row mt-1'>
                <label class='col-form-label fw-bold'>Equipe</label>
                <div class='row'>
                    {{#if equipe.ins0}}
                    <div class='col-form-label'>{{equipe.ins0}}</div>
                </div>
                {{/if}}
                {{#if equipe.ins1}}
                <div class='row mt-1'>
                    <div class='col-form-label'>{{equipe.ins1}}</div>
                </div>
                {{/if}}
                {{#if equipe.ins2}}
                <div class='row mt-1'>
                    <div class='col-form-label'>{{equipe.ins2}}</div>
                </div>
                {{/if}}
                {{#if equipe.ins3}}
                <div class='row mt-1'>
                    <div class='col-form-label'>{{equipe.ins3}}</div>
                </div>
                {{/if}}
                {{#if equipe.ins4}}
                <div class='row mt-1'>
                    <div class='col-form-label'>{{equipe.ins4}}</div>
                </div>
                {{/if}}
                {{#if equipe.ins5}}
                <div class='row mt-1'>
                    <div class='col-form-label'>{{equipe.ins5}}</div>
                </div>
                {{/if}}
            </div>
        </div>
        <div class='col'>
            <div class='aling-center'
                style="border:rgba(120, 120, 120, 0.4) 1px solid; border-radius: 20px; height: 100%;text-align: center;">
                GPS
            </div>
        </div>
    </div>
</div>