<div style="width: 98%;padding-left: 2%;padding-top: 0.5%;">
    {{#if assistencia}}
    <form action="/gerenciamento/salvarImagem" class='bloquear' method="post" enctype="multipart/form-data">
        <input type='hidden' name='id' value='{{tarefa._id}}'>
        <input type='hidden' name='tipo' value='assistencia'>
        <input type='hidden' name='seq' value='{{seqtrf}}'>
        <div style="display: flex;padding-bottom: 10px;">
            <label class='col-form-label fw-bold'>Descrição da Solução</label>
            <a href='/gerenciamento/assistencia/' style="font-size: 30px;padding-left: 150px;"><i
                    class='bi bi-arrow-left-circle d-flex align-items-center mt-1'></i></a>
        </div>
        <div style="padding-left: 20px;padding-right: 20px;padding-bottom: 20px;">
            <textarea name="solucao" class='form-control' id="" cols="30" rows="10">{{tarefa.solucao}}</textarea>
        </div>

        <div style="padding-left: 20px;padding-right: 20px;padding-bottom: 20px;">
            <div class="card">
                <div class="card-body">
                    <label class='col-form-label col-form-label-sm'>Adicionar imagem da galeria</label>
                    <div>
                        <input type="file" name="files" style="width: 300px;" multiple class='form-control form-control-sm'>
                        <button type="submit" class='btn btn-success mt-1'><i class='bi bi-save'></i></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {{#if tarefa.fotos}}
    <div class="row mt-3 mb-4">
        {{#if lista_imagens}}
        {{#each lista_imagens}}
        <div class="col-md-4">
            <div style="width: 5px;">
                <a href='/gerenciamento/deletaImagem/{{imagem}}delimg{{id}}delimgassitencia' class='botao-filter'><i
                        class='bi bi-x-circle' style="font-size: 20px;color: orangered"></i></a>
            </div>
            <a href='/gerenciamento/mostrarBucket/{{imagem}}' target="_blank" style="font-size: 25px;">
                <img src='/gerenciamento/mostrarBucket/{{imagem}}' style="width: 80%;" alt='Minha Figura'></a>
        </div>
        {{/each}}
        {{/if}}
    </div>
    {{/if}}
    {{else}}
    <div style="display: flex;">
        <div class='mt-4'>
            <label style="font-size: 35px;font-weight: bold;width: 280px;">{{titulo}}</label>
        </div>
        <div style="margin-left: 20px;margin-top: 30px;width: 40px;">
            <a class="" style="cursor: pointer;" data-bs-toggle="dropdown"><i style="font-size: 30px;"
                    class='bi bi-list d-flex align-items-center'></i></a>
            <ul class="dropdown-menu text-center">
                <li>
                    {{#each tarefas}}
                    <a href='/gerenciamento/mostrarFotos/{{_id}}@{{../projeto._id}}'
                        class="btn btn-primary mb-1 fw-bold"
                        style="width: 250px;height: 40px;padding: 10px;font-size: 14px;">{{descricao}}</a><br>
                    {{/each}}
                </li>
            </ul>
        </div>
        <div>
            <a href='/gerenciamento/listaAtividade/{{projeto._id}}' style="font-size: 40px"><i
                    class='bi bi-arrow-left-circle d-flex align-items-center mt-4'></i></a>
        </div>
    </div>
    <div class="col mt-2">
        <div class="card mt-4">
            <div class="card-body">
                {{#if projeto.instalado}}
                {{else}}
                <form action="/gerenciamento/salvarFotos" method="post">
                    <input type='hidden' name='id' value='{{tarefa._id}}'>
                    <input type='hidden' name='idprj' value='{{projeto._id}}'>
                    <input type='hidden' name='caminho' value='instalacao'>
                    <input type='hidden' name='tipo' value='tarefa'>
                    <input type='hidden' name='seq' value='{{seqtrf}}'>
                    <div class='text-center'>
                        <div class="btn-group gap-2">
                            <div class="btn start-video" title='Ativar Câmera'><i style="font-size: 40px;"
                                    class='bi bi-camera-video-fill'></i></div>
                            <div class="btn picture" title='Tirar uma foto'><i style="font-size: 40px;"
                                    class='bi bi-camera'></i></div>
                            <button type="submit" onclick="salvar()" class="btn save-picture" title='Salvar Fotos'
                                style="display: '';" id='upload'><i style="font-size: 35px;" class='btn bi bi-save'></i>
                            </button>
                        </div>

                        <div class="progress mb-3" style="width: 100px;margin-left: 105px;display: none">
                            <div class="progress-bar" id="progress"></div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col is-four-fifths">
                                    <video src="" width="300px" id="video" style="display: none;" muted
                                        autoplay></video>
                                </div>
                                <div class="col">
                                    <label style="display: none;font-size: 20px;padding-top: 30px;" id='lblscreen'>Fotos
                                        Tiradas</label>
                                    <div class="row" id="screen">
                                    </div>
                                </div>
                            </div>
                        </div>
                </form>
                {{/if}}
                {{#if projeto.instalado}}
                {{else}}
                <form action="/gerenciamento/salvarImagem" class='bloquear' method="post" enctype="multipart/form-data"
                    id='bloquear1'>
                    <input type='hidden' name='id' value='{{tarefa._id}}'>
                    <input type='hidden' name='idprj' value='{{projeto._id}}'>
                    <input type='hidden' name='aceite' value='false'>
                    <input type='hidden' name='caminho' value='instalacao'>
                    <input type='hidden' name='tipo' value='tarefa'>
                    <input type='hidden' name='seq' value='{{seqtrf}}'>
                    <div class="card">
                        <div class="card-body">
                            <label class='col-form-label col-form-label-sm'>Adicionar imagem da galeria</label>
                            <div>
                                <input type="file" name="files" multiple class='form-control'>
                                <button type="submit" class='btn btn-success mt-1'><i class='bi bi-save'></i></button>
                            </div>
                        </div>
                    </div>
                </form>
                <canvas style="display: none;" id="canvas"></canvas>
                {{/if}}
                {{#if tarefa.fotos}}
                <div class="row mt-3">
                    {{#if lista_imagens}}
                    {{#each lista_imagens}}
                    <div class="col-md-4">
                        <div style="width: 5px;">
                            <a href='/gerenciamento/deletaImagem/{{imagem}}delimg{{id}}delimgtarefadelimg{{../projeto._id}}'
                                class='botao-filter'><i class='bi bi-x-circle'
                                    style="font-size: 20px;color: orangered"></i></a>
                        </div>
                        <a href='/gerenciamento/mostrarBucket/{{imagem}}' target="_blank" style="font-size: 25px;">
                            <img src='/gerenciamento/mostrarBucket/{{imagem}}' style="width: 80%;"
                                alt='Minha Figura'></a>
                    </div>
                    {{/each}}
                    {{/if}}
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    {{/if}}
</div>

<script>
    function salvar() {
        let timerInterval
        Swal.fire({
            title: 'Aguarde um momento!',
            html: '',
            timer: 1000,
            timerProgressBar: true,
            didOpen: () => {
                Swal.showLoading()
                const b = Swal.getHtmlContainer().querySelector('b')
                timerInterval = setInterval(() => {
                    b.textContent = Swal.getTimerLeft()
                }, 100)
            },
            willClose: () => {
                clearInterval(timerInterval)
            }
        }).then((result) => {
            if (result.dismiss === Swal.DismissReason.timer) {
                console.log('I was closed by the timer')
            }
        })
    }

    function move(salvarId, progressId) {
        const btnsalvar = document.getElementById(salvarId)
        var elem = document.getElementById(progressId)
        var width = 1
        var id = setInterval(frame, 100)
        function frame() {
            if (width >= 100) {
                clearInterval(id)
                btnsalvar.style.display = ''
            } else {
                width++
                elem.style.width = width + '%'
            }
        }
    }


    function startCamera(videoId, screenId) {
        navigator.mediaDevices.getUserMedia({
            video: {

                width: {
                    min: 1280,
                    ideal: 1920,
                    max: 2560,
                },
                height: {
                    min: 720,
                    ideal: 1080,
                    max: 1440,
                },
                facingMode: 'environment'
            }
        }).then((stream) => {

            const lblscreen = document.getElementById(screenId)
            const video = document.getElementById(videoId)
            lblscreen.style.display = ''
            video.style.display = ''
            document.getElementById(videoId).srcObject = stream
        })
    }


    function takePicture(screenId, canvasId, videoId, salvarId, progressId) {
        salvar()
        const screen = document.getElementById(screenId)
        const canvas = document.getElementById(canvasId)
        const context = canvas.getContext('2d')
        const video = document.getElementById(videoId)

        const col = document.createElement("div")
        const div0 = document.createElement("div")
        const div1 = document.createElement("div")
        const div2 = document.createElement("div")
        const div3 = document.createElement("div")
        const img = document.createElement("img")
        const fileimg = document.createElement("input")
        const imgblob = document.createElement('input')
        //const inputFiles = document.getElementById('files')

        canvas.width = video.videoWidth
        canvas.height = video.videoHeight
        context.drawImage(video, 0, 0)

        //var imagem = document.getElementById('id_do_input');
        //imagem.src = imagem;
        var image = canvas.toDataURL('image/png')

        fileimg.name = 'imagem'
        fileimg.value = image
        fileimg.type = 'hidden'

        canvas.toBlob(function (blob) {
            var url
            url = URL.createObjectURL(blob)
            img.style.width = '200px'
            img.src = url
            imgblob.name = 'imgblob'
            imgblob.type = 'hidden'
            imgblob.value = url

            var idiv = url.replace('blob:https://vimmus.com.br/', '')
            //var idiv = url.replace('blob:http://localhost:3001/', '')

            div0.className = 'row'
            div1.className = 'col-md-4'
            div2.style.width = '5px'
            div2.style.cursor = 'pointer'
            div3.innerHTML = '<i class="bi bi-x-circle"></i>'
            div3.addEventListener('click', (e) => {
                node = document.getElementById(idiv)
                node.parentNode.removeChild(node)
            })

            //move(salvarId, progressId)
            div0.id = idiv
            div2.append(div3)
            div1.prepend(img)
            div1.prepend(imgblob)
            div1.append(fileimg)
            div0.append(div2)
            div0.append(div1)
            screen.prepend(div0)

        }, 'image/png')

    }

    document.querySelector('.start-video').addEventListener('click', event => { startCamera('video', 'lblscreen') })

    document.querySelector('.picture').addEventListener('click', event => { takePicture('screen', 'canvas', 'video', 'upload', 'progress') })

</script>