<style>
    .lists {
        display: flex;
        flex: 1;
        width: 100%;
    }

    .lists .list {
        display: flex;
        flex-flow: column;
        flex: 1;

        width: 400px;
        border-radius: 20px;
        min-height: 75px;
        max-height: 250px;

        background-color: #001263e5;
        margin: 0 5px;
        padding: 8px;
        transition: all 0.2s linear;
    }

    .lists .list .list-item {
        background-color: #F3F3F3;
        border-radius: 8px;
        text-align: center;
        margin: 4px 0px;
        cursor: pointer;
    }

    .lists .list .item-instalacao {
        background-color: #F3F3F3;
        border-radius: 8px;
        text-align: center;
        margin: 4px 0px;
        cursor: pointer;
    }

    .lists .list .item {
        background-color: #F3F3F3;
        border-radius: 8px;
        text-align: center;
        margin: 4px 0px;
        cursor: pointer;
    }
</style>
<script src="/js/uteis.js"></script>
<script>
    window.onload = function () {
        var id = $('#id')
        var endcli = $('#endcli')
        var local = $('#local')
        if (id.val().length == 0) {
            endcli.show()
            local.hide()
        }else{
            endcli.hide ()
            local.show()            
        }
        var res = $('#responsavel')
        var idres = $('#idres')
        var checkres = $('#checkres')
        if (idres.val().length == 0) {
            res.hide()
            checkres.prop('checked', false)
        }else{
            res.show()
            checkres.prop('checked', true)
        }
    } 
</script>
<div class="container justify-content-center" style='padding: 10px'>
    <div class="card mt-1 mb-4">
        <div class="card-body">
            <form method="post" action='/gerenciamento/addtarefa' style="text-align: center;">
                <input type='hidden' name='empresa' value='{{trfemp._id}}'>
                <input type='hidden' name='id' id='id' value='{{tarefa._id}}'>
                <input type='hidden' name='idres' id='idres' value='{{trf_tecnico._id}}'>
                <div class="row">
                    <div class="col text-center">
                        <label style="font-size: 15px;font-weight: 600">Adicionar
                            Serviço</label><br><br>
                    </div>
                    {{#if ins_dentro}}
                    <div class="col-md-2">
                        <div>
                            <a href="/gerenciamento/realizar" class="btn btn-sm btn-primary">Finalizar</a>
                            {{#if tarefa.concluido}}<label
                                class='col-form-label col-form-label-sm'>Concluido</label>{{else}}<label
                                class='col-form-label col-form-label-sm'>Aberto</label>{{/if}}
                        </div>
                    </div>
                    {{/if}}
                </div>

                <div class="row mb-4" style="width: 80%;margin-left: 80px;">
                    <div class="row mb-2">
                        <div class="col-md-1">
                            <label class='col-form-label col-form-label-sm fw-bold'>Cliente:</label>
                        </div>
                        <div class="col">
                            <select class='form-select form-select-sm' name='cliente'>
                                {{#if trf_cliente}}
                                <option class='fw-bold' value='{{trf_cliente._id}}'>{{trf_cliente.nome}}</option>
                                {{/if}}
                                {{#each cliente}}
                                <option value='{{_id}}'>{{nome}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-md-2">
                            <div class="form-check mt-1" id='endcli' onclick="novoEndereco()">
                                <input class="form-check-input" name='check' id='check' type="checkbox">
                                <label class="form-check-label mt-2">Novo Endereço</label>
                            </div>
                        </div>
                    </div>
                    <div class="card" id='local' style="display: none;">
                        <div class="card-body">
                            <div class='row'>
                                <div class="col-md-3">
                                    <label>CEP:</label>
                                    <input type='text' id='cep' name='cep' size='10' maxlength="9"
                                        class='form-control form-control-sm mb-1'
                                        value='{{#if tarefa.cep}}{{tarefa.cep}}{{else}}{{cliente.cep}}{{/if}}'>
                                </div>
                                <div class='col-md-2'>
                                    <label>Estado</label>
                                    <input type='text' id="estado" name='uf' size='2'
                                        class='form-control form-control-sm mb-1'
                                        value="{{#if cliente.uf}}{{cliente.uf}}{{else}}{{tarefa.uf}}{{/if}}"
                                        maxlength="2">
                                </div>
                                <div class='col'>
                                    <label>Cidade</label>
                                    <input type='text' id="cidade" name='cidade' id="cidade" size="40"
                                        class='form-control form-control-sm mb-1'
                                        value="{{#if tarefa.cidade}}{{tarefa.cidade}}{{else}}{{cliente.cidade}}{{/if}}">
                                </div>
                                <div class="col">
                                    <label>Bairro</label>
                                    <input class='form-control form-control-sm' type='text' name='bairro' id='bairro'
                                        value='{{#if tarefa.bairro}}{{tarefa.bairro}}{{else}}{{cliente.bairro}}{{/if}}'>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label>Endereço</label>
                                    <input class='form-control form-control-sm' type='text' name='endereco' id='rua'
                                        size='60'
                                        value='{{#if tarefa.bairro}}{{tarefa.endereco}}{{else}}{{cliente.bairro}}{{/if}}'>
                                </div>
                                <div class="col-md-2">
                                    <label>Número</label>
                                    <input class='form-control form-control-sm' type='text' name='numero'
                                        value='{{#if tarefa.numero}}{{tarefa.numero}}{{else}}{{tarefa.numero}}{{/if}}'>
                                </div>
                                <div class="col">
                                    <label>Complemento</label>
                                    <input class='form-control form-control-sm' type='text' name='complemento'
                                        value='{{#if tarefa.complemento}}{{tarefa.complemento}}{{else}}{{tarefa.complemento}}{{/if}}'>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-2 text-end">
                        <label class="col-form-label col-form-label-sm fw-bold">Serviço:</label>
                    </div>
                    <div class="col-md-4">
                        <select class='form-select form-select-sm' name='manutencao'>
                            {{#if trf_servico}}
                            <option value='{{trf_srvid}}'>{{trf_servico}}</option>
                            {{/if}}
                            {{#each servicos}}
                            <option value='{{_id}}'>{{descricao}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col-md-1 text-end">
                        <label class="col-form-label col-form-label-sm fw-bold">Valor R$:</label>
                    </div>
                    <div class="col-md-3 text-end">
                        <input class="form-control form-control-sm" type="number" step='0.010' name='preco' id='preco'
                            placeholder="R$" value='{{tarefa.preco}}'>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-md-3 text-end">
                        <label class="col-form-label col-form-label-sm fw-bold">Cadastro:</label>
                    </div>
                    <div class="col-md-2">
                        <input class='form-control form-control-sm' type='date' name='dataini'
                            value='{{#if tarefa.dataini}}{{tarefa.dataini}}{{else}}{{data}}{{/if}}'>
                    </div>
                    <div class="col-md-2 text-end">
                        <label class="col-form-label col-form-label-sm fw-bold">Finalização:</label>
                    </div>
                    <div class="col-md-2">
                        <input class='form-control form-control-sm' type='date' name='datafim'
                            value='{{tarefa.datafim}}'>
                    </div>
                </div><br>
                <div class="row">
                    <label class="col-form-label col-form-label-sm">Descrição do Problema</label>
                    <textarea name="observacao" class='form-control' id="" cols="20" rows="3">{{tarefa.observacao}}</textarea>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-check mt-1" id='mostrares' onclick="mostrares()">
                            <input class="form-check-input" name='checkres' id='checkres' type="checkbox">
                            <label class="form-check-label mt-2">Adicionar Responsável</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row" id="responsavel" style="display: none;">
                            <div class="row">
                                <label>Lembre-se de verificar a disponibilidade da
                                pessoa para
                                realizar
                                a manutenção!</label>
                                <div class="col-md-3 text-end">
                                    <label class="col-form-label col-form-label-sm fw-bold">Técnico Responsável:</label>
                                </div>
                                <div class="col-md-6">
                                    <select class='form-select form-select-sm' name='responsavel'>
                                        {{#if trf_tecnico}}
                                        <option class='fw-bold' value='{{trf_tecnico._id}}'>{{trf_tecnico.nome}}
                                        </option>
                                        {{/if}}
                                        {{#each assistencia}}
                                        <option value='{{_id}}'>{{nome}}</option>
                                        {{else}}
                                        <option>Cadastrar técnicos =></option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col-md-1">
                                    <a href='/pessoa/novo' class="contorno-menu"><i class='bi bi-person-plus'></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                {{!-- <div class="row">
                    <div class="lists">
                        <div class="list">
                            <label class="col-form-label col-form-label-sm fw-bold text-center"
                                style="color: white">Instaladores Disponíveis</label>
                            <div style="overflow-y: scroll;height: fit-content">
                                {{#each ins_fora}}
                                <div class="list-item" style='color: black;' draggable="true" name='{{id}}'>
                                    {{nome}}
                                </div>
                                <input type='hidden' name='email' value='{{email}}'>
                                {{/each}}
                            </div>
                        </div>
                        <div class="list">
                            <label class="col-form-label col-form-label-sm fw-bold text-center"
                                style="color: white">Instaladores Alocados</label>
                            {{#each ins_dentro}}
                            <div class="item-instalacao" style='color: black;' draggable="true" name='{{id}}'>
                                {{nome}}<a href='/gerenciamento/vermaistarefas/{{id}}' style="padding-left: 5px;"><i
                                        class='bi bi-eye'></i></a>
                                <input type='hidden' name='email' value='{{email}}'>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div> --}}

                <input type='hidden' class='ins0' name='ins0' id='ins0' value=''>
                <input type='hidden' class='ins1' name='ins1' id='ins1' value=''>
                <input type='hidden' class='ins2' name='ins2' id='ins2' value=''>
                <input type='hidden' class='ins3' name='ins3' id='ins3' value=''>
                <input type='hidden' class='ins4' name='ins4' id='ins4' value=''>
                <input type='hidden' class='ins5' name='ins5' id='ins5' value=''>
                <input type='hidden' name='idins0' id='idins0' value=''>
                <input type='hidden' name='idins1' id='idins1' value=''>
                <input type='hidden' name='idins2' id='idins2' value=''>
                <input type='hidden' name='idins3' id='idins3' value=''>
                <input type='hidden' name='idins4' id='idins4' value=''>
                <input type='hidden' name='idins5' id='idins5' value=''>
                <div class='btn-group gap-2 col-6 mt-2'>
                    <button class="btn btn-sm btn-success" onclick="getItemValue()">Salvar</button>
                    <a href='/gerenciamento/agenda/' class='btn btn-sm btn-primary'><i
                            class='bi bi-arrow-left'>Voltar</i></a>
                </div>
            </form>
        </div>
    </div>
</div>
{{!-- {{/if}} --}}
<script>
    const list_items = document.querySelectorAll('.list-item');
    const lists = document.querySelectorAll('.list');
    const list_instalacao = document.querySelectorAll('.item-instalacao');

    let draggedItem = null;

    for (let i = 0; i < list_items.length; i++) {
        const item = list_items[i];

        item.addEventListener('dragstart', function () {
            draggedItem = item;
            setTimeout(function () {
                item.style.display = 'none';
            }, 0)
        });

        item.addEventListener('dragend', function () {
            this.className = 'item-instalacao';
            setTimeout(function () {
                draggedItem.style.display = 'block';
                draggedItem = null;
            }, 0);
        })

        for (let j = 0; j < lists.length; j++) {
            const list = lists[j];

            list.addEventListener('dragover', function (e) {
                e.preventDefault();
            });

            list.addEventListener('dragenter', function (e) {
                e.preventDefault();
                this.style.backgroundColor = 'rgba(40, 55, 89, 1)';
            });

            list.addEventListener('dragleave', function (e) {
                this.style.backgroundColor = 'rgba(40, 55, 86, 1)';
            });

            list.addEventListener('drop', function (e) {
                console.log('drop');
                this.append(draggedItem);
                this.style.backgroundColor = 'rgba(40, 55, 86, 1)';
            });
        }
    }

    if (list_instalacao.length > 0 || list_instalacao.length != '') {

        for (let x = 0; x < list_instalacao.length; x++) {
            const instalacao = list_instalacao[x];

            instalacao.addEventListener('dragstart', function () {
                draggedItem = instalacao;
                setTimeout(function () {
                    item.style.display = 'none';
                }, 0)
            });

            instalacao.addEventListener('dragend', function () {
                this.className = 'item';
                setTimeout(function () {
                    draggedItem.style.display = 'block';
                    draggedItem = null;
                }, 0);
            })

            for (let y = 0; y < lists.length; y++) {
                const list = lists[y];

                list.addEventListener('dragover', function (e) {
                    e.preventDefault();
                });

                list.addEventListener('dragenter', function (e) {
                    e.preventDefault();
                    this.style.backgroundColor = 'rgba(40, 55, 86, 1)';
                });

                list.addEventListener('dragleave', function (e) {
                    this.style.backgroundColor = 'rgba(40, 55, 86, 1)';
                });

                list.addEventListener('drop', function (e) {
                    console.log('drop');
                    this.append(draggedItem);
                    this.style.backgroundColor = 'rgba(40, 55, 86, 1)';
                });
            }
        }
    }

    function stopDefAction(evt) {
        getItemValue()
        var endereco = document.getElementById('endereco')
        var ins0 = document.getElementById('ins0')
        var msg = ''
        if (endereco.value == '') {
            msg = msg + ' ☻ O endereço da instalação é obrigatório.' + '\n'
        }
        if (ins0.value == '') {
            msg = msg + ' ☻ É necessário cadastrar ao menos um técnico para prestar o serviço.'
        }
        if (msg.length > 0) {
            document.getElementById('endereco').focus()
            evt.preventDefault();
            Swal.fire({
                icon: 'error',
                title: 'Ops...',
                text: msg,
                showConfirmButton: false,
                showCloseButton: true
            })
        } else {
            document.tarefa.submit()
        }
    }

    document.getElementById('salvar').addEventListener('click', stopDefAction, false);


    function getItemValue() {
        const item = document.querySelectorAll('.item-instalacao');
        for (i = 0; i < item.length; i++) {
            const insitem = document.getElementsByClassName(item[i].getAttribute('class'));
            var element = insitem[i].innerText
            var ins = insitem[i].getAttribute('name')
            switch (i) {
                case 0:
                    var insdes = document.getElementById('ins0')
                    var idins = document.getElementById('idins0')
                    insdes.value = element
                    idins.value = ins
                    break;
                case 1:
                    var insdes = document.getElementById('ins1')
                    var idins = document.getElementById('idins1')
                    insdes.value = element
                    idins.value = ins
                    break;
                case 2:
                    var insdes = document.getElementById('ins2')
                    var idins = document.getElementById('idins2')
                    insdes.value = element
                    idins.value = ins
                    break;
                case 3:
                    var insdes = document.getElementById('ins3')
                    var idins = document.getElementById('idins3')
                    insdes.value = element
                    idins.value = ins
                    break;
                case 4:
                    var insdes = document.getElementById('ins4')
                    var idins = document.getElementById('idins4')
                    insdes.value = element
                    idins.value = ins
                    break;
                case 5:
                    var insdes = document.getElementById('ins5')
                    var idins = document.getElementById('idins5')
                    insdes.value = element
                    idins.value = ins
                    break;
            }
        }
    }
</script>