<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/css/bootstrap.css">
  <link type="text/css" href="/css/style.css" rel="stylesheet" />
  <link type="text/css" href="/css/estilos.css" rel="stylesheet" />
  <link type="text/css" href="/css/calendario.css" rel="stylesheet">

  <!-- restation whats -->
  {{!--
  <script type="text/javascript" async
    src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/cc30ca6f-349d-4691-a568-b36416a0ff8e-loader.js"></script>
  --}}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-B8DW5RQ220"></script>
  <script src="/js/uteis.js"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-B8DW5RQ220');

  </script>
</head>

<body>

  <!-- Modal Novo Orçamento -->
  <div class="modal fade" id="novoOrcamento" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-md-down">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fw-bold">Novo Orçamento</h5>
          <button type="button" onclick="location.reload()" class="btn btn-sm btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class='mt-1 mb-2'>
            <a href="/gerenciamento/orcamento" class="btn btn-sm btn-primary">Novo Orçamento</a>
          </div>
          {{#if todos_clientes}}
          <form action="/gerenciamento/orcamento" method="post">
            <div style="display: flex;">
              <select name="cliente" class="form-select form-select-sm">
                {{#each todos_clientes}}
                <option value="{{_id}}">{{nome}}</option>
                {{/each}}
              </select>
              <button type="submit" class="btn btn-success">Próximo</button>
            </div>
          </form>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  <!-- Final Modal -->

  <!-- Modal Atrasados -->
  <div class="modal fade" id="atrasados" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Propostas</h5>
          <button type="button" class="btn btn-sm btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <label class="col-form-label fw-bold">Propostas a menos de 1(um) dia de Vencer</label>
          <table>
            <tr>
              <th style="width: 20%;text-align: center">Cliente</th>
              <th style="width: 5%;text-align: center">Proposta</th>
              <th style="width: 10%;text-align: center">Status</th>
              <th style="width: 10%;text-align: center">Telefone</th>
              <th style="width: 10%;text-align: center">Validade</th>
              <th style="width: 10%;text-align: center">Ações</th>
            </tr>
            {{#each notpro}}
            <tr style="font-size: 15px;">
              <input type='hidden' name='cliav[]' value='{{cliente}}'>
              <input type='hidden' name='proav[]' value='{{seq}}'>
              <input type='hidden' name='statav[]' value='{{status}}'>
              <input type='hidden' name='clitel[]' value='{{telefone}}'>
              <input type='hidden' name='valav[]' value='{{validade}}'>
              <input type='hidden' name='idav[]' value='{{id}}'>
              <input type='hidden' name='id' value='{{id}}'>
              <td>{{cliente}}</td>
              <td>{{seq}}</td>
              <td>{{status}}</td>
              <td>{{telefone}}</td>
              <td>{{validade}}</td>
              <td>
                <div class='bt-group col-12 gap-2'>
                  <a href='/gerenciamento/orcamento/{{id}}'>
                    <i style='color:rgba(44,55,89)' class="bi bi-pen icone-tabela"></i>
                  </a>
                  <a href='/gerenciamento/confirmastatus/{{id}}'>
                    <i style='color:rgba(44,55,89)' class="bi bi-front icone-tabela"></i>
                  </a>
                  <a href='/gerenciamento/ganho/{{id}}/'>
                    <i style='color:rgba(44,55,89)' class="bi bi-file-earmark-check icone-tabela"></i>
                  </a>
                </div>
              </td>
            </tr>
            {{/each}}
          </table>
          <hr>
          <label class="col-form-label fw-bold">Propostas Vencidas</label>
          <table>
            <tr>
              <th style="width: 20%;text-align: center">Cliente</th>
              <th style="width: 5%;text-align: center">Proposta</th>
              <th style="width: 5%;text-align: center">Telefone</th>
              <th style="width: 10%;text-align: center">Validade</th>
              <th style="width: 1%;text-align: center">Ações</th>
            </tr>
            {{#each atrasado}}
            <tr style="font-size: 15px;">
              <input type='hidden' name='cliven[]' value='{{cliente}}'>
              <input type='hidden' name='proven[]' value='{{seq}}'>
              <input type='hidden' name='clitel[]' value='{{telefone}}'>
              <input type='hidden' name='valven[]' value='{{validade}}'>
              <input type='hidden' name='idven[]' value='{{id}}'>
              <td>{{cliente}}</td>
              <td>{{seq}}</td>
              <td>{{telefone}}</td>
              <td>{{validade}}</td>
              <td style="width: 10%">
                <div class=''>
                  <a href='/gerenciamento/orcamento/{{id}}'>
                    <i style='color:rgba(44,55,89)' class="bi bi-pen icone-tabela"></i>
                  </a>

                  <a href='/gerenciamento/confirmastatus/{{id}}'>
                    <i style='color:rgba(44,55,89)' class="bi bi-front icone-tabela"></i>
                  </a>
                  <a href='/gerenciamento/confirmabaixa/{{id}}'>
                    <i onclick='motivo({{id}})' style='cursor: pointer; color:rgba(44,55,89)'
                      class="bi bi-arrow-down-circle icone-tabela"></i>
                  </a>
                </div>
              </td>
            </tr>
            {{/each}}
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Final Modal -->

  <!-- Modal Instalador-->
  <div class="modal fade" id="instalador" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">Equipe do Projeto</div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="card mb-2">
            <div class="card-body">
              <form action="/gerenciamento/addInstalador" method="post">
                <label class="col-form-label">Selecionar instalador</label>
                <div id="addInstaller"></div>
                <div style="display: flex;">
                  <select class="form-select form-select-sm" name="instalador" style="width: 38rem;margin: auto;">
                    {{#each todos_instaladores}}
                    <option value="{{_id}}">{{nome}}</option>
                    {{/each}}
                  </select>
                  <label class="col-form-label col-form-label-sm"
                    style="width: 22rem;margin: auto;padding-left: 50px;">Quantidade de Painéis: </label>
                  <input type="number" class="form-control form-control-sm" name="qtdmod" id="qtdmod"
                    style="width: 5rem;margin: auto;">
                  <button type="submit" style="display: flex; height: 2rem; border-color: white;margin: auto;"><i
                      class="bi bi-plus" style="display: flex;margin: auto;"></i></button>
                  <a href="/gerenciamento/vermais" class="btn btn-primary d-flex items-align-center"
                    style="margin-left: 10px;height: 40px;margin-top: 5px;"><i class="bi bi-calendar2"
                      style="font-size: 15px;"></i></a>
                </div>
              </form>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <label class="col-form-label">Instaladores Selecionados</label>
              <table>
                <tr>
                  <th style="width: 40%;">Instalador Banco</th>
                  <th>Qtd. Módulos</th>
                  <th>Ações</th>
                </tr>
                <tr>
                  <td>
                    <div style="font-size: 15px;" id="modal-body-installers"></div>
                  </td>
                  <td>
                    <div style="font-size: 15px;" id="modal-body-modules"></div>
                  </td>
                  <td>
                    <div id="modal-body-actions"></div>
                  </td>
                </tr>
              </table>
              <form action="/gerenciamento/enviarEquipe" method="post" id="formAuthorization">
                <div id="sendTeam" style="display: none;">
                  <div style="display: flex;position: relative;padding-top: 20px;">
                    <div id="insRealizado">
                      <label class="col-form-label col-form-label-sm" style="width: 150px;">Instalador
                        Realizado:</label>
                      <select class="form-select form-select-sm" name="ins_realizado" id="sel_realizado"
                        style="width: 250px;margin: auto;">
                        {{#each todos_instaladores}}
                        <option value="{{_id}}">{{nome}}</option>
                        {{/each}}
                      </select>
                    </div>
                    <div style="display: flex;">
                      <label class='col-form-label col-form-label-sm'
                        style="margin: auto;width: 120px;text-align: right;">Data Final:&nbsp</label>
                      <input class="form-control form-control-sm" style="margin: auto;width: 120px" type="date"
                        name="dtfim" id="dtfim">
                      <button type="submit" id="buttonAuth" style="margin-left: 40px;width: 40px;font-size: 15px;"><i
                          id="iconAuth" style="padding: 4px;"></i></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Final Modal-->

  <!-- Modal Orçamento -->
  <div class='modal fade' id='orcamento' tabindex="-1" aria-hidden="true">
    <div class='modal-dialog modal-fullscreen'>
      <div class="modal-content">
        <div class="modal-header">
          <label style="font-size: 30px;" class='modal-title fw-bold'>Proposta</label>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <object data="/gerenciamento/mostrarBucket/{{descricao}}" type="application/pdf" width="100%" height="100%">
            <p>Seu navegador não tem um plugin pra PDF</p>
          </object>
        </div>
      </div>
    </div>
  </div>
  <!-- Fim Modal-->

  <!-- Modal Observação Instalacao-->
  <div class='modal fade' id='obsinstalacao' tabindex="-1" aria-hidden="true">
    <div class='modal-dialog modal-lg modal-dialog-centered'>
      <div class="modal-content">
        <div class="modal-header">
          <div class="row">
            <div class="col"></div>
          </div>
          <label style="font-size: 20px;" class='modal-title fw-bold'>Observações</label>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <form action="/gerenciamento/obsprojetista" method="post">
                <input type='hidden' name='idprj' id='idprjmain' value="">
                <input type='hidden' value='' id="modalseq">
                <div class="div" style="display: flex;">
                  <label style="width: 100%;" class="h5">Projeto</label>
                </div>
                <textarea id="obsprojetista" class='form-control mt-1 obsprojetista' readonly cols="30"
                  rows="10"></textarea>
                <textarea name="obsprojetista" id="obs" class='form-control mt-1' style="font-size: 12px;" cols="30"
                  rows="4"></textarea>
                <div style="display: flex;justify-content: center;">
                  <button class="btn btn-success mt-2" style="margin-left: 10px;">Salvar</button>
                </div>
              </form>
            </div>
            <div class="col">
              <div class="h5">Obra</div>
              <textarea id="obsinstal" class='form-control mt-1 obsinstal' cols="30" rows="16" readonly></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <!-- Fim Modal -->

  <!-- Modal Observação -->
  <div class='modal fade' id='observacao' tabindex="-1" aria-hidden="true">
    <div class='modal-dialog modal-dialog-centered'>
      <div class="modal-content">
        <div class="modal-header">
          <label style="font-size: 20px;" class='modal-title fw-bold'>Observação Proposta</label>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/gerenciamento/observacao" method="post">
            <input type="hidden" value="{{projeto._id}}" name="id">
            <textarea readonly class='form-control' cols="30" rows="10">{{projeto.obs}}</textarea>
            <textarea name="obs" id="obs" class='form-control mt-1' cols="30" rows="2"></textarea>
            <button class="btn btn-sm btn-success" type="submit">Enviar</button>
          </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <!-- Fim Modal -->

  <script>
    //LÓGICA DA SAUDAÇÃO
    window.onload = function () {
      var saudacao = document.getElementById('saudacao')

      var data = new Date()
      var semana = data.getDay()

      if (semana == 1) {
        semana = 'Segunda-feira'
      }
      if (semana == 2) {
        semana = 'Terça-feira'
      }
      if (semana == 3) {
        semana = 'Quarta-feira'
      }
      if (semana == 4) {
        semana = 'Quinta-feira'
      }
      if (semana == 5) {
        semana = 'Sexta-feira'
      }
      if (semana == 6) {
        semana = 'Sábado'
      }
      if (semana == 0) {
        semana = 'Domingo'
      }

      var dia = data.getDate()
      var mes = data.getMonth()

      switch (mes + 1) {
        case 1: mes = 'Janeiro'
          break;
        case 2: mes = 'Fevereiro'
          break;
        case 3: mes = 'Março'
          break;
        case 4: mes = 'Abril'
          break;
        case 5: mes = 'Maio'
          break;
        case 6: mes = 'Junho'
          break;
        case 7: mes = 'Julho'
          break;
        case 8: mes = 'Agosto'
          break;
        case 9: mes = 'Setembro'
          break;
        case 10: mes = 'Outubro'
          break;
        case 11: mes = 'Novembro'
          break;
        case 12: mes = 'Dezembro'
          break;
      }

      var ano = data.getFullYear()
      var hora = data.getHours()
      //ajuste da hora no servidor para horário do cliente brasília
      hora = hora - 3
      var tempo
      if (hora >= 18 && hora <= 24) {
        tempo = 'Boa Noite '
      }
      if (hora >= 12 && hora < 18) {
        tempo = 'Boa tarde '
      }
      if (hora >= 0 && hora < 12) {
        tempo = 'Bom dia '
      }

      //$('#dataToats').innerHTML(new Date().getTimezoneOffset());
      saudacao.innerHTML = 'Hoje é ' + semana + ', dia ' + dia + ' de ' + mes + ' de ' + ano
      saudacao.style.width = '600px'

      //REDIMENSIONAMETO PARA A TELA RESPONSIVA DO APLICATIVO
      if (screen.width < 640 || screen.height < 480) {
        saudacao.style.width = '300px'
        saudacao.className = 'col-form-label col-form-label-sm'
        //menu_open.style.paddingLeft: "40px"
        var ehmobile = document.getElementById('ehmobile')
        ehmobile.style.display = 'none'
        //mostra.style.display = ''
      }

      //AJUSTE DOS QUADROS DO MENU PRINCIPAL (DASHBOARD) 
      var obra = document.getElementById('obra')
      var dim = document.getElementById('dim')
      var dim1 = document.getElementById('dim1')
      var dim2 = document.getElementById('dim2')
      var tarefa = document.getElementById('tarefa')
      var grafico = document.getElementById('grafico')

      var altura = parseFloat(window.screen.height)
      var alttarefa

      altura = Math.trunc(altura - (altura * 0.55))
      alttarefa = (Math.trunc(altura - (altura * 0.2))) / 2
      altura = altura + 'px'
      alttarefa = alttarefa + 'px'

      if (obra.value == 'false') {
        dim.style.height = altura
        dim1.style.height = altura
        dim2.style.height = altura
      } else {
        tarefa.style.height = alttarefa
        grafico.style.height = alttarefa
      }
    }

    const Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      showCloseButton: true
    });

    function showIndex(tipo) {
      var html = '';
      var title = '';
      if (tipo == 'venda') {
        title = 'Venda';
        html = "<table>" +
          "<tr style='display: flex; font-size: 12px'>" +
          "<th style='width: 200px;text-align: center;'>Proposta Enviada</th>" +
          "<td style='height: 15px; width: 15px; border-radius: 15px; text-align: center' id='execucao'</td>" +
          "</tr>" +
          "<tr style='display: flex; font-size: 12px'>" +
          "<th style='width: 200px;text-align: center;'>Aguardando Proposta</th>" +
          "<td style='height: 15px;  width: 15px; border-radius: 15px; text-align: center' id='parado'</td>" +
          "</tr>" +
          "<tr style='display: flex; font-size: 12px'>" +
          "<th style='width: 200px;text-align: center;'>Projeto Sem Responsável</th>" +
          "<td style='height: 15px;  width: 15px; border-radius: 15px;text-align: left' id='homologado'</td>" +
          "</tr>" +
          "</table>";
      }
      if (tipo == 'termos') {
        title = 'Termos de Entrega';
        html = "<table>" +
          "<tr style='display: flex; font-size: 12px'>" +
          "<th style='width: 200px;text-align: center;'>Termo Enviado</th>" +
          "<td style='height: 15px; width: 15px; border-radius: 15px; text-align: center' id='execucao'</td>" +
          "</tr>" +
          "<tr style='display: flex; font-size: 12px'>" +
          "<th style='width: 200px;text-align: center;'>Aguardando Termo</th>" +
          "<td style='height: 15px;  width: 15px; border-radius: 15px; text-align: center' id='realizado'</td>" +
          "</tr>" +
          "</table>";
      }
      if (tipo == 'projeto') {
        title = 'Projeto';
        html = "<table>" +
          "<tr style='display: flex; font-size: 12px'>" +
          "<th style='width: 200px;text-align: center;'>Projeto Autorizado</th>" +
          "<td style='height: 15px; width: 15px; border-radius: 15px; text-align: center' id='execucao'</td>" +
          "</tr>" +
          "<tr style='display: flex; font-size: 12px'>" +
          "<th style='width: 200px;text-align: center;'>Levantamento Realizado</th>" +
          "<td style='height: 15px;  width: 15px; border-radius: 15px; text-align: center' id='aguardando'</td>" +
          "</tr>" +
          "<tr style='display: flex; font-size: 12px'>" +
          "<th style='width: 200px;text-align: center;'>Falta Fazer o Levantamento</th>" +
          "<td style='height: 15px;  width: 15px; border-radius: 15px;text-align: left' id='levantamento'</td>" +
          "</tr>" +
          "</table>";
      }
      if (tipo == 'instalacao') {
        title = 'Instalação';
        html = "<table>" +
          "<tr style='display: flex; font-size: 12px'>" +
          "<th style='width: 200px;text-align: center;'>Aguardando Vistoria</th>" +
          "<td style='height: 15px; width: 15px; border-radius: 15px; text-align: center' id='aguardando'</td>" +
          "</tr>" +
          "<tr style='display: flex; font-size: 12px'>" +
          "<th style='width: 200px;text-align: center;'>Projeto em Execução</th>" +
          "<td style='height: 15px;  width: 15px; border-radius: 15px; text-align: center' id='execucao'</td>" +
          "</tr>" +
          "<tr style='display: flex; font-size: 12px'>" +
          "<th style='width: 200px;text-align: center;'>Projeto Parado</th>" +
          "<td style='height: 15px;  width: 15px; border-radius: 15px;text-align: left' id='parado'</td>" +
          "</tr>" +
          "<tr style='display: flex; font-size: 12px'>" +
          "<th style='width: 200px;text-align: center;'>Aguardando Projeto</th>" +
          "<td style='height: 15px;  width: 15px; border-radius: 15px;text-align: left' id='homologado'</td>" +
          "</tr>" +
          "</table>";
      }
      if (tipo == 'enviados') {
        title = 'Orçamentos Enviados';
        html = "<table>" +
          "<tr style='display: flex; font-size: 12px'>" +
          "<th style='width: 200px;text-align: center;'>Pedido Realizado</th>" +
          "<td style='height: 15px; width: 15px; border-radius: 15px; text-align: center' id='execucao'</td>" +
          "</tr>" +
          "<tr style='display: flex; font-size: 12px'>" +
          "<th style='width: 200px;text-align: center;'>Proposta Enviada</th>" +
          "<td style='height: 15px;  width: 15px; border-radius: 15px; text-align: center' id='homologado'</td>" +
          "</tr>" +
          "<tr style='display: flex; font-size: 12px'>" +
          "<th style='width: 200px;text-align: center;'>Orçamento em Andamento</th>" +
          "<td style='height: 15px;  width: 15px; border-radius: 15px;text-align: left' id='aguardando'</td>" +
          "</tr>" +
          "<tr style='display: flex; font-size: 12px'>" +
          "<th style='width: 200px;text-align: center;'>Orçamento Solicitado</th>" +
          "<td style='height: 15px;  width: 15px; border-radius: 15px;text-align: left' id='parado'</td>" +
          "</tr>" +
          "</table>";
      }
      if (tipo == 'entregue') {
        title = 'Orçamentos Entregues';
        html = "<table>" +
          "<tr style='display: flex; font-size: 12px'>" +
          "<th style='width: 200px;text-align: center;'>Passou 7 dias da entrega</th>" +
          "<td style='height: 15px; width: 15px; border-radius: 15px; text-align: center' id='parado'</td>" +
          "</tr>" +
          "<tr style='display: flex; font-size: 12px'>" +
          "<th style='width: 200px;text-align: center;'>Proposta Entregue</th>" +
          "<td style='height: 15px;  width: 15px; border-radius: 15px; text-align: center' id='realizado'</td>" +
          "</tr>" +
          "</table>";
      }
      if (tipo == 'negociando') {
        title = 'Orçamentos Negociando';
        html = "<table>" +
          "<tr style='display: flex; font-size: 12px'>" +
          "<th style='width: 200px;text-align: center;'>Passou 3 dias da interação</th>" +
          "<td style='height: 15px; width: 15px; border-radius: 15px; text-align: center' id='parado'</td>" +
          "</tr>" +
          "<tr style='display: flex; font-size: 12px'>" +
          "<th style='width: 200px;text-align: center;'>Negociando</th>" +
          "<td style='height: 15px;  width: 15px; border-radius: 15px; text-align: center' id='homologado'</td>" +
          "</tr>" +
          "</table>";
      }
      if (tipo == 'ganho') {
        title = 'Orçamentos Ganhos';
        html = "<table>" +
          "<tr style='display: flex; font-size: 12px'>" +
          "<th style='width: 200px;text-align: center;'>Autorizado Pelo Projetista</th>" +
          "<td style='height: 15px; width: 15px; border-radius: 15px; text-align: center' id='execucao'</td>" +
          "</tr>" +
          "<tr style='display: flex; font-size: 12px'>" +
          "<th style='width: 200px;text-align: center;'>Levantamento Realizado</th>" +
          "<td style='height: 15px;  width: 15px; border-radius: 15px; text-align: center' id='aguardando'</td>" +
          "<tr style='display: flex; font-size: 12px'>" +
          "<th style='width: 200px;text-align: center;'>Falta Fazer o Levantamento</th>" +
          "<td style='height: 15px;  width: 15px; border-radius: 15px; text-align: center' id='levantamento'</td>" +
          "</tr>" +
          "</tr>" +
          "</table>";
      }
      Toast.fire({
        html: html,
        title: title
      })
    }
  </script>

  {{>_navbar}}
  {{#if error}}
  <div class="alert alert-danger">{{error}}</div>
  {{else}}
  {{/if}}
  {{>_msg}}
  {{{body}}}
</body>

{{#if user}}
<footer class='no-print' style='position: fixed; bottom: 0; z-index:900;'>
  <div class="row" style="width: 100%;padding: 3px;border-top: rgb(40,55,89,0.3) 1px solid;color: rgb(40,55,89)">
    <div class="col-md-1">
      <div style="margin-left: 10px; font-weight: 800;font-size: 12px">
        VIMMUS
      </div>
    </div>
    <div class="col-md-9" style="color: rgb(40,55,89);">
      <div style="text-align: right;font-size: 8px">
        2021 - Direitos Reservados - <a style="text-decoration: none;color: rgb(40,55,89);" href='/termo'>Termos de
          Uso</a> - <a style="text-decoration: none;color: rgb(40,55,89);" href='/politica'>Política de Privacidade</a>
      </div>
    </div>
  </div>
</footer>
{{else}}
<footer class='no-print'
  style='bottom: 0;color: rgb(40,55,89);background-color: white;position: relative;z-index: 900;'>
  <div style="background-color: white;">
    <div class='row' style="width: 100%;padding: 20px;">
      <div class="col-md-3 mt-2" style="margin: auto">
        <h5>Nos siga nas redes sociais</h5><br>
        <a href='https://www.instagram.com/vimmus.solucoes' target="_blank"><img src='/img/instagram.svg'
            width="41"></a>
        <a href='https://www.facebook.com/vimmus.solucoes' target="_blank"><img src='/img/facebook.svg' width="40"></a>
        <a href='https://www.linkedin.com/company/vimmusenergiasolar' target='_blank'><img src='/img/linkedin.svg'
            width="40"></a>
      </div>
      <div class="col">
        <div style="margin-top: 15px;text-align: center;">
          <h1><i class='bi bi-geo-alt' style="font-size: 20px;"></i>Av. dos Ipês, n°565, Bairro Eldorado</h1>
          <h1>Horizontina/RS</h1>
          <h1>Incubadora Horizonte Ambiente Empreendedor (HAE)</h1>
        </div>

      </div>
      <div class="col-md-3 text-end mt-3">
        <h1>Entre em contato pelo WhatsApp</h1><br>
        <h1 style="font-weight: 600;">(55) 9 9659-3117</h1>
      </div>
    </div>
  </div>
  <div style="text-align: center;margin-top: 40px; margin-bottom: 20px;font-size: 12px;">
    2021 - Direitos Reservados - <a style="text-decoration: none;color: rgb(40,55,89);" href='/termo'>Termos de Uso</a>
    - <a style="text-decoration: none;color: rgb(40,55,89);" href='/politica'>Política de Privacidade</a>
  </div>
  <div>
    <div class="row mt-2 mb-2" style="width: 100%">
      <div class="col text-center">
        <img src='/img/logo-fcj.png' width="130">
      </div>
      <div class="col text-center">
        <img src='/img/logo-aws.png' width="150" style="margin-top: 20px">
      </div>
      <div class="col text-center">
        <img src='/img/logo-hae.png' width="150">
      </div>
    </div>
  </div>
</footer>
{{/if}}
<script src="//rawgit.com/robertocr/cidades-estados-js/master/cidades-estados-1.4-utf8.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
  integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
  integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
{{!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> --}}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/js/bootstrap.js"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="https://getbootstrap.com/2.0.0/assets/js/bootstrap-typeahead.js"></script>

</html>