<style>
    td {
        width: 20%;
        text-align: center;
    }

    table {
        border-collapse: separate;
        border-spacing: 0 30px;
    }
</style>
<div class="container mt-4">
    <form action="/relatorios/analiseGeral" method="post">
        <div class="row">
            <div class="sessao-dash-titulo text-center" style="margin-bottom: 10px;">
                <label class='col-form-label fw-bold' style="color: white;">{{#if
                    mestitulo}}{{mestitulo}}{{ano}}{{else}}Tudo{{/if}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 text-end">
                <label class='col-form-label fw-bold col-form-label-sm'>Período:<label>
            </div>
            <div class="col-md-2">
                <select class='form-select form-select-sm' name='messel'>
                    <option>Janeiro</option>
                    <option>Fevereiro</option>
                    <option>Março</option>
                    <option>Abril</option>
                    <option>Maio</option>
                    <option>Junho</option>
                    <option>Julho</option>
                    <option>Agosto</option>
                    <option>Setembro</option>
                    <option>Outubro</option>
                    <option>Novembro</option>
                    <option>Dezembro</option>
                    <option selected>Todos</option>
                </select>
            </div>
            <div class="col-md-1">
                <input class='form-control form-control-sm' type='number' name='mesano' placeholder="Ano">
            </div>
            <div class="col-md-2">
                <button type='submit' class='btn btn-sm btn-primary'>Aplicar</button>
            </div>
        </div>
        <table>
            <tr>
                <td>
                    <h6 style="font-weight: 600;"> Potência Instalada </h6>
                        <div class="titulo-inicio" style="font-size: 30px;">
                            {{potencia}}
                        </div>
                </td>
                <td>
                    <h6 style="font-weight: 600;"> Módulos Vendidos </h6>
                    <div class="titulo-inicio" style="font-size: 30px;">
                            {{qtdmod}}
                    </div>
                </td>
                <td>
                    <h6 style="font-weight: 600;"> R$ Total Projetos Vendidos </h6>
                    <div class="titulo-inicio" style="font-size: 30px;">
                            {{valor}}
                    </div>
                </td>
            </tr>
            <tr>
                <td>

                    <h6 style="font-weight: 600;"> Instalação R$/kWp</h6>
                    <div style="padding-left: 20%;">
                        <div class="sessao-dash textoper">
                            {{rsikwp}}
                        </div>
                    </div>
                </td>
                <td>

                    <h6 style="font-weight: 600;"> Custo Total R$/kWp</h6>
                    <div style="padding-left: 22%;">
                        <div class="sessao-dash textoper">
                            {{custoPorKwp}}
                        </div>
                    </div>
                </td>
                <td>
                    <h6 style="font-weight: 600;"> R$/kWp Vendido </h6>
                    <div style="padding-left: 22%;">
                        <div class="sessao-dash textoper">
                            {{rspkwp}}
                        </div>
                    </div>
                </td>                
            </tr>
            <tr>
                <td>
                    <h6 style="font-weight: 600;"> Instalação R$/Módulo</h6>
                    <div style="padding-left: 20%;">
                        <div class="sessao-dash textoper">
                            {{rsimod}}
                        </div>
                    </div>
                </td>
                <td>

                    <h6 style="font-weight: 600;"> Custo Total R$/Módulo</h6>
                    <div style="padding-left: 22%;">
                        <div class="sessao-dash textoper">
                            {{custoPorModulo}}
                        </div>
                    </div>
                </td>
                <td>
                    <h6 style="font-weight: 600;"> R$/Módulo Vendido </h6>
                    <div style="padding-left: 22%;">
                        <div class="sessao-dash textoper">
                            {{rspmod}}
                        </div>
                    </div>
                </td>                
            </tr>
        </table>
    </form>
</div>