<style type="text/css">
  i {
    font-size: 16px;
    vertical-align: text-top;
  }

  th {
    border-collapse: collapse;
    font-size: 12px;
  }

  td {
    text-align: center;
  }

  table {
    font-size: 12px;
  }

  a {
    cursor: pointer;
  }
</style>

<div class='row mt-1' style="width: 100%;font-size: 12px;">
  <div class='col-md-2'>
    <div class="menu" style="height:100%">
      {{!-- <img src='img/logovimmus.png' height="75" width="100" style="padding-left: 10%;" /> --}}
      <div class="menu-interno">
        <div class='titulo-inicio text-center'> CADASTROS</div>
        <div class="row mb-2">
          <div class="text-start">
            <a href="/cliente/novo" class="contorno-menu"><i class='bi bi-person-plus'></i> Cliente</a>
            <a href="/cliente/consulta" class="botaomenu text-start"> <i class='bi bi-search'></i> </a>
          </div>
        </div>
        <div class="row mb-2">
          <div class="text-start">
            <a href="/projeto/selectprojeto" class="contorno-menu"><i class='bi bi-file-arrow-up'></i> Projetos</a>
            <a href="/projeto/consulta" class="botaomenu"> <i class='bi bi-search'></i> </a>
          </div>
        </div>
        <div class="row mb-2">
          <div class="text-start">
            <a href='/pessoa/novo' class="contorno-menu"><i class='bi bi-person-plus'></i> Pessoas</a>
            <a href='/pessoa/consulta' class="botaomenu"><i class='bi bi-search'></i> </a>
          </div>
        </div>
        <div class="row mb-2">
          <div class="text-start">
            <a href='/componente/novo' class="contorno-menu"><i class='bi bi-file-arrow-up'></i>Componentes</a>
            <a href='/componente/consulta' class="botaomenu"><i class='bi bi-search'></i> </a>
          </div>
        </div>
        <div style="margin-bottom: 1%;margin-top: 6%;">
          <a href='/gerenciamento/plano' class="relatorio titulo-relatorio" style="padding-right: 20%;"><i
              class="bi bi-file-arrow-up"></i> Planos</a>
        </div>
        <div style="margin-bottom: 1%;margin-top: 6%;">
          <a href='/pessoa/consultaequipepadrao/' class="relatorio titulo-relatorio" style="padding-right: 20%;"><i
              class="bi bi-people"></i> Equipe
            Padrão</a>
        </div>
        {{!-- <div class="mt-1 text-start" style="padding-left: 25px;">
          <a href='/pessoa/consultaequipepadrao' class="contorno-menu"><i class='bi bi-people'></i> Equipes
            Padrão</a><br>
        </div> --}}
        <div class='titulo-inicio text-center mt-4'>CONFIGURAÇÕES</div>
        <div class="row mb-2">
          <div class="col-md-8 text-end" style="padding-left: 20px;">
            <a href='/configuracao/addempresa' class="contorno-menu"><i class='bi bi-calculator'></i> Empresa </a><br>
          </div>
          <div class="col-md-4 text-start">
            <a href='/configuracao/consultaempresa' class="botaomenu"><i class='bi bi-search'></i></a>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-8 text-end" style="padding-left: 30px;">
            <a href='/configuracao/novo' class="contorno-menu"><i class='bi bi-clock'></i> Básicas</a><br>
          </div>
          <div class="col-md-4 text-start">
            <a href='/configuracao/consulta' class="botaomenu"><i class='bi bi-search'></i> </a>
          </div>
        </div>
      </div>
      <div class='titulo-inicio text-center'>FERRAMENTAS</div>
      <div class="menu-interno" style="padding-right: 5px;">
        <div style="margin-top: 6%;margin-bottom: 7%;">
          <a href='/gerenciamento/agenda' class="relatorio titulo-relatorio"><i class='bi bi-columns'></i>
            Agenda</a><br>
        </div>
        <div style="margin-top: 6%;margin-bottom: 7%;">
          <a href='/gerenciamento/cenarios' class="relatorio titulo-relatorio"><i class='bi bi-display'></i> Análise de
            Cenários</a>
        </div>
        <div class="dropend" style="margin-bottom: 7%;">
          <a class="relatorio titulo-relatorio" data-bs-toggle="dropdown" aria-expanded="false"><i
              class='bi bi-clipboard-data'></i> Indicadores <i class="bi bi-caret-right"></i>
          </a>
          <ul class="dropdown-menu">
            <a href='/relatorios/dashboardcustos' class="botao-filter"> Custos</a><br>
            <a href='/relatorios/dashboardbi' class="botao-filter"> Projetos</a><br>
            <a href='/relatorios/analisegeral' class="botao-filter"> Análise de Valor</a><br>
          </ul>
        </div>
        <div class="dropend " style="margin-bottom: 7%;">
          <a class="relatorio titulo-relatorio" data-bs-toggle="dropdown" aria-expanded="false"><i
              class="bi bi-book"></i> Relatórios <i class="bi bi-caret-right"></i>
          </a>
          <ul class="dropdown-menu">
            <a href='/relatorios/listarealizados' class="botao-filter"> Lista Realizados</a><br>
            <a href='/relatorios/listarabertos' class="botao-filter"> Lista Abertos</a><br>
          </ul>
        </div>
        <div style="margin-bottom: 7%;">
          <a href='/usuario/editar/{{id}}' class="relatorio titulo-relatorio"><i class="bi bi-house-fill"></i> Minha
            Conta</a>
        </div>

        {{#if ehMaster}}
        <div class="row">
          <div class="dropend">
            <a class="relatorio titulo-relatorio" data-bs-toggle="dropdown" aria-expanded="false">Admin <i
                class="bi bi-caret-right"></i></i>
            </a>
            <ul class="dropdown-menu">
              <a href='/administrador' class='botao-filter'><i class='bi bi-people-fill'></i> Controle Usuários </a>
            </ul>
          </div>
        </div>
        {{/if}}
      </div>
    </div>
  </div>

  <div class='col-md-3 mt-3'>
    <div class="row contorno-titulo" style="margin-top: 5%;padding-left: 5%;">
      <div class="row">
        <label style="font-size: 21px;color:#847AF4;;margin-top: 10%"> Total de Projetos</label>
        <label class="mt-2" style="font-size: 50px;">{{numprj}}</label>
      </div>
      <div class="row">
        <div class="col">
          <label class='col-form-label'> Realizados</label>
          <label style='width: 100%;' class='contorno-texto'> {{numprjrlz}} </label>
          <label style='width: 100%;' class='contorno-texto mt-1'> {{perRealizado}}% </label>
        </div>
        <div class="col">
          <label class='col-form-label'>Entregues</label>
          <label style='width: 100%;' class='contorno-texto'> {{qtdEntregue}} </label>
          <label style='width: 100%;' class='contorno-texto mt-1'> {{perEntregue}}% </label>
        </div>
      </div>
    </div>
    <hr>
    <div class="row mb-2" style="">
      <div class='contorno-titulo' style="font-size: 21px;color: #847AF4;;">Margem de Lucro Liquido Médio Faturado</th>
        <div class="sessao mt-2" style="margin-left: 30%;">
          <div class='textmll'>{{perNfsMed}}%</div>
        </div>
      </div>
    </div>
  </div>
  <div class='col-md-7'>
    <div style="width: 100%;">
      <table class='mt-1 mb-1 ' style="width: 100%;">
        <tr>
          <td style="text-align: center;">
            <label style="font-size: 20px;font-weight: bold;">Aberto</label>
            <div class='sessao-status-aberto' style="margin-left: 30%;">
              <label class='mt-2' style="font-size: 20px;font-weight: bold;">{{qtdAberto}}</label>
            </div>
          </td>
          <td style="text-align: center;border-left: white 5px solid;">
            <label style="font-size: 20px;font-weight: bold;">Em execução</label>
            <div class='sessao-status-execucao mb-2' style="margin-left: 40%;">
              <label class='mt-2' style="font-size: 20px;font-weight: bold;">{{qtdExecucao}}</label>
            </div>
          </td>
          <td style=";text-align: center;border-left: white 5px solid;">
            <label style="font-size: 20px;font-weight: bold;">Parado</label>
            <div class='sessao-status-parado mb-2' style="margin-left: 32%;">
              <label class='mt-2' style="font-size: 20px;font-weight: bold;">{{qtdParado}}</label>
            </div>
          </td>
          <td style=";text-align: center;border-left: white 5px solid;">
            <label style="font-size: 20px;font-weight: bold;">Homologação</label>
            <div class='sessao-status-homo mb-2' style="margin-left: 40%;">
              <label class='mt-2' style="font-size: 20px;font-weight: bold;">{{qtdHomologado}}</label>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class='row' style="height: 440px;">
      <div class='quadro-scroll' style="margin-left: 5px;height: 100%;">
        <table style="width: 100%;">
          <tr class='contorno-titulo' style='border-bottom: rgba(40,55,89,0.1) solid 1px;'>
            <th>Status</th>
            <th>Cliente</th>
            <th>Cidade</th>
            <th>Data Instalação</th>
            <th>Previsão Entrega</th>
            <th>Estágio</th>
            <th>Registros: {{totLista}}</th>
          </tr>
          {{#each dataord}}
          <tr>
            <td>
              {{#if atrasado}}
              <div id=''><i class='bi bi-exclamation-triangle mt-1' style="font-size: 12px;"></i>
              </div>
              {{else}}
              {{#if executando}}
              <div id='execucao'></div>
              {{else}}
              {{#if parado}}
              <div id='parado'></div>
              {{else}}
              {{#if homologado}}
              <div id='homologado'></div>
              {{else}}
              <div id='aguardando'></div>
              {{/if}}
              {{/if}}
              {{/if}}
              {{/if}}
            </td>
            <td>{{nomecliente}}</td>
            <td>{{cidade}}</td>
            <td>{{dataIns}}</td>
            <td>{{dataprev}}</td>
            <td style="padding-top: 3px;">
            <div class='btn-group btn-group-sm col-12 gap-2 mx-auto' role='group'>
              {{#if checkAte}}
              <div class='botao-tabela checkAte'>A</div>
              {{else}}
              <div class='botao-tabela uncheckAte'>A</div>
              {{/if}}
              {{#if checkTel}}
              <div class='botao-tabela checkMod'M></div>
              {{else}}
              <div class='botao-tabela uncheckMod'>M</div>
              {{/if}}
              {{#if chechInv}}
              <div class='botao-tabela checkInv'>I</div>
              {{else}}
              <div class='botao-tabela uncheckInv'>I</div>
              {{/if}}
            </div>
            </td>
            <!--<td>{{cliente}}</td>-->
            <td style="padding-top: 3px;">
              <div class='btn-group btn-group-sm col-12 gap-2 mx-auto' role='group'>
                <a href='/gerenciamento/cronograma/{{_id}}' class='botao-tabela ativado-tabela'><i
                    class='bi bi-calendar-range icone-tabela'></i></a>
                <a href='/projeto/vermais/{{_id}}' class='botao-tabela ativado-tabela'><i
                    class="bi bi-eye icone-tabela"></i></a>
                <a href='/projeto/edicao/{{_id}}/' class='botao-tabela ativado-tabela'><i
                    class="bi bi-pen icone-tabela"></i></a>
                {{!-- <a {{#if orcado}}class='botao-tabela desativado-tabela' {{else}}href='/projeto/realizar/{{_id}}'
                  class='botao-tabela ativado-tabela' {{/if}}> <i class="bi bi-check2-circle icone-tabela"></i>
                </a> --}}
                <!--
                <a href='/projeto/confirmaexclusao/{{_id}}' class="botao-tabela ativado-tabela"><i
                    class="bi bi-trash icone-tabela"></i>
                </a>
                -->
              </div>
            </td>
          </tr>
          {{else}}
          {{/each}}
        </table>
      </div>
    </div>
  </div>
</div>