<form action='/componente/salvar' method='post'>
    <div class="cotainer mt-4" style="width: 50%;margin-left: 25%;">
        <div class="row">
            <label style='font-weight: bold;font-size:20px'> Cadastro de Equipamentos</label>
        </div>
        <hr>
        <input type="hidden" name='id' value='{{componente._id}}'>
        <div class="container row mb-2">
            <div class="col-md-3 text-end">
                <label class='fw-bold col-form-label col-form-label-sm mb-1'>Descrição: </label><br>
                <label class='fw-bold col-form-label col-form-label-sm mb-1'>Preço: </label><br>
                <label class='fw-bold col-form-label col-form-label-sm mb-1'>Tipo: </label><br>
                <label class='fw-bold col-form-label col-form-label-sm mb-1'>CLassificação: </label><br>
                <label class='fw-bold col-form-label col-form-label-sm mb-1'>Observações: </label><br>
            </div>
            <div class="col-md-8">
                <input type='text' name='nome' class='form-control form-control-sm mb-1' value='{{componente.nome}}'>
                <input type='number' name='preco' class='form-control form-control-sm mb-1' value='{{componente.preco}}'>
                {{!-- <select class='form-select form-select-sm mb-1' name='classificacao'>
                    <option>{{componente.classificacao}}</option>
                    <option>Solar</option>
                    <option>Ar</option>
                    <option>Câmara</option>
                </select> --}}
                <select class='form-select form-select-sm mb-1' name='tipo'>
                    <option>{{componente.tipo}}</option>
                    <option>Elétrico</option>
                    <option>Estrutura</option>
                    <option>Eletrônico</option>
                    <option>Assessório</option>
                </select>
                <textarea rows='4' name='observacao' class='form-control form-control-sm mb-1'>{{componente.observacao}}</textarea>
            </div>
            <div class="btn-group gap-2 mt-2" style="width: 50%;margin-left: 30%;">
                <a href='/componente/novo' class='btn btn-sm btn-primary'>Novo</a>
                <button type='submit' class='btn btn-sm btn-success'>Aplicar</button>
                 <a href='/componente/consulta' class='btn btn-sm btn-primary'>Pesquisa</a>
            </div>
        </div>
    </div>
</form>