<style type='text/css'>
    .botao {
        background-color: rgb(40, 55, 86);
        text-shadow: 1px 1px 10px rgb(238, 237, 245);
        border-radius: 40px;
        width: 45px;
        height: 45px;
        padding-top: 2px;
        border: solid 3px;
        font-size: 18px;
        border-top-color: rgb(3, 67, 141);
        border-left-color: rgb(3, 67, 141);
        border-right-color: rgb(205, 223, 245);
        border-bottom-color: rgb(205, 223, 245);
    }
</style>
<div class="container-sm mt-2">

    <div class="header mb-2">
        <h5 style="font-weight: 600">EQUIPAMENTOS</h5>
    </div>

    {{#each componente}}
    <div class="card mb-1" style="padding: 5px;">
        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-4">
                        <label class='fw-bold col-form-label col-form-label-sm'> Descrição: </label>
                        <label class='col-form-label col-form-label-sm'> {{nome}} </label><br>
                    </div>
                    <div class="col-md-4">
                        <label class='fw-bold col-form-label col-form-label-sm'> Classificação:</label>
                        <label class='col-form-label col-form-label-sm'>{{classificacao}}</label><br>
                        <label class='fw-bold col-form-label col-form-label-sm'> Tipo:</label>
                        <label class='col-form-label col-form-label-sm'>{{tipo}}</label>
                    </div>
                    <div class="col-md-2 mt-2">
                        <label class='fw-bold col-form-label col-form-label-sm'> Preço:</label>
                        <label class='col-form-label col-form-label-sm'> {{preco}} </label><br>                        
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class='btn-group btn-group-sm mx-auto mt-2' role='group'>
                    <a href='/componente/novo/{{_id}}' class='botao-tabela ativado'> <i class='bi bi-pen icone'></i>
                    </a>
                    <a href='/componente/confirmaexclusao/{{_id}}' class='botao-tabela ativado'> <i
                            class='bi bi-trash icone'></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{{else}}
<h6>Nenhum registro encontrado</h6>
{{/each}}
</div>