<div class="cotainer mt-4" style="width: 89%;padding-left: 155px;">
    <div class="card">
        <div class="card-body">
            <ul class="nav nav-tabs mb-2">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" style="color: black"
                        href="/cliente/edicao/{{cliente._id}}"><label class="col-form-label titulo-inicio">Cadastro
                            de Cliente</label></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" style="color: black"
                        href="/cliente/usinas/{{cliente._id}}"><label
                            class="col-form-label titulo-inicio">Usinas</label></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" style="color: black"
                        href="/cliente/historico/{{cliente._id}}"><label
                            class="col-form-label titulo-inicio">Histórico</label></a>
                </li>
            </ul>
            <div class="card" style="padding: 10px;">
                <h2 style="font-weight: 600;">Serviços em Aberto</h2><br>

                <table>
                    <tr>
                        <th style="20%">Serviço</th>
                        <th style="20%">Data Inicial</th>
                        <th style="20%">Data Final</th>
                        <th></th>
                    </tr>
                    {{#each emaberto}}
                    <tr>
                        <td>{{servico}}</td>
                        <td>{{dataini}}</td>
                        <td>{{datafim}}</td>
                        <td style="padding-left: 4%"><a href='/gerenciamento/tarefa/{{id}}' <i
                                class='bi bi-eye' style="font-size: 25px;"></i></a></td>
                    </tr>
                    {{else}}
                    <h6>Não há histórico de tarefas em aberto</h6>
                    {{/each}}
                </table>
            </div>

            <div class="card mt-2" style="padding: 10px;">
                <h2 style="font-weight: 600;">Serviços Realizados</h2><br>

                <table>
                    <tr>
                        <th>Serviço</th>
                        <th>Data Inicial</th>
                        <th>Data Final</th>
                        <th></th>
                    </tr>
                    {{#each concluido}}
                    <tr>
                        <td>{{servico}}</td>
                        <td>{{dataini}}</td>
                        <td>{{datafim}}</td>
                        <td style="padding-left: 4%"><a href='/gerenciamento/tarefa/{{id}}' <i
                                class='bi bi-eye' style="font-size: 25px;"></i></a></td>
                    </tr>
                    {{else}}
                    <h6>Não há histórico de tarefas concluidas</h6>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
</div>