<script src="/js/uteis.js"></script>


<div class="cotainer mt-4" style="width: 89%;padding-left: 155px;">
    <div class="card">
        <div class="card-body">
            <ul class="nav nav-tabs mb-2">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" style="color: black"
                        href="/cliente/edicao/{{cliente._id}}"><label class="col-form-label titulo-inicio">Cadastro
                            de Cliente</label></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" style="color: black"
                        href="/cliente/usinas/{{cliente._id}}"><label
                            class="col-form-label titulo-inicio">Usinas</label></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" style="color: black"
                        href="/cliente/historico/{{cliente._id}}"><label
                            class="col-form-label titulo-inicio">Histórico</label></a>
                </li>
            </ul>
            {{#each lista_usina}}
            <form method="post" action='/cliente/editusina/'>
                <input type="hidden" id='idcliente' name='idcliente' value='{{cliente}}'>
                <input type="hidden" id='idusina' name='idusina' value='{{id}}'>
                <div class="card" style="padding: 5px" id='card'>
                    <div class="row" style="padding-left: 10px;padding-right: 10px">
                        <div class="col-md-2 text-end">
                            <label class='col-form-label col-form-label-sm fw-bold'>Nome:</label>
                        </div>
                        <div class="col-md-3 text-start">
                            <input type='text' name='nome' class='form-control form-control-sm' value='{{nome}}'>
                        </div>
                        <div class="col-md-2 text-end">
                            <label class='col-form-label col-form-label-sm fw-bold'>Endereço:</label>
                        </div>
                        <div class="col-md-4 text-start">
                            <input type='text' name='endereco' id='endereco' class='form-control form-control-sm'
                                value='{{endereco}}'>
                        </div>
                    </div>
                    <div class="card mt-2 mb-2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-1 text-center">
                                    <label class='col-form-label col-form-label-sm'>Estrutura:</label><br>
                                    <label class='col-form-label col-form-label-sm'>{{../projeto.estrutura}}</label>
                                </div>
                                <div class="col-md-1 text-center">
                                    <label class='col-form-label col-form-label-sm'>Orientação:</label><br>
                                    <label class='col-form-label col-form-label-sm'>{{../projeto.orientacao}}</label>
                                </div>
                                <div class="col-md-2 text-center">
                                    <label class='col-form-label col-form-label-sm'>Qtd.Módulos:</label><br>
                                    <label class='col-form-label col-form-label-sm'>{{../projeto.plaQtdMod}}</label>
                                </div>
                                <div class="col text-center">
                                    <label class='col-form-label col-form-label-sm'>Qtd. Potência Módulos:</label><br>
                                    <label class='col-form-label col-form-label-sm'>{{../projeto.plaWattMod}}</label>
                                </div>
                                <div class="col text-center">
                                    <label class='col-form-label col-form-label-sm'>Qtd. Potência Módulos:</label><br>
                                    <label class='col-form-label col-form-label-sm'>{{../projeto.plaWattMod}}</label>
                                </div>
                                <div class="col text-center">
                                    <label class='col-form-label col-form-label-sm'>Potência Inversor:</label><br>
                                    <label class='col-form-label col-form-label-sm'>{{../projeto.plaKwpInv}}</label>
                                </div>
                                <div class="col-md-1 text-center">
                                    <label class='col-form-label col-form-label-sm'>Área:</label><br>
                                    <label class='col-form-label col-form-label-sm'>{{../projeto.plaDimArea}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-3 text-end">
                            <label class='col-form-label col-form-label-sm fw-bold' id='titulodata'>Data de
                                Cadastro:</label>
                        </div>
                        <div class="col-md-2">
                            <input type="date" name='cadastro' class='form-control form-control-sm' id='inputdata'
                                value='{{cadastro}}'>
                        </div>
                        <div class="col-md-2 text-end">
                            <label class='col-form-label col-form-label-sm fw-bold'>Próxima Limpeza:</label>
                        </div>
                        <div class="col-md-1">
                            <label class='col-form-label col-form-label-sm'>{{datalimp}}</label>
                        </div>
                        <div class="col-md-2 text-end">
                            <label class='col-form-label col-form-label-sm fw-bold' id='titulodata'>Próxima
                                Revisão:</label>
                        </div>
                        <div class="col-md-1">
                            <label class='col-form-label col-form-label-sm'>{{datarevi}}</label>
                        </div>
                    </div>
                    <div class="row" style="padding-left: 10px;padding-right: 10px">
                        <div class="col-md-4 text-end">
                            <label class='col-form-label col-form-label-sm fw-bold' id='titulodata'>Plano:</label>
                        </div>
                        <div class="col-md-2">
                            <select class='form-select form-select-sm' name='plano'>
                                {{#if nome_plano}}
                                <option>{{nome_plano}}</option>
                                {{/if}}
                                <option>Serviço Único</option>
                                {{#each ../lista_plano}}
                                <option value='{{this._id}}'>{{this.nome}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label class='col-form-label col-form-label-sm fw-bold'>Mensalidade: R$
                                {{mensalidade}}</label>
                        </div>
                        <div class="col">
                            <a href='/cliente/programacao/{{id}}' class='btn btn-sm btn-secondary'>Programar</a>
                        </div>
                    </div>
                </div>
                <hr>
            </form>
            {{/each}}
            {{!-- <form method="post" action='/cliente/addusina/'>
                <input type='hidden' name='id' value='{{cliente._id}}'>
                <div class="card mb-4" style="padding: 5px" id='card'>
                    <div class="row" style="padding-left: 10px;padding-right: 10px">
                        <label class='col-form-label col-form-label-sm'>Adicionar Nova Usina</label>
                        <div class="col-md-2 text-end">
                            <label class='col-form-label col-form-label-sm fw-bold'>Nome</label>
                        </div>
                        <div class="col-md-3">
                            <input class='form-control form-control-sm' type="text" name='nome'
                                value='{{cliente.nome}}'>
                        </div>
                        <div class="col-md-2 text-end">
                            <label class='col-form-label col-form-label-sm fw-bold'>Endereço:</label>
                        </div>
                        <div class="col-md-4 text-start">
                            <input type='text' name='endereco' class='form-control form-control-sm'
                                value='{{cliente.endereco}}'>
                        </div>
                    </div>
                    <div class="row" style="padding: 10px;">
                        <div class="col-md-2 text-end">
                            <label class="fw-bold col-form-label col-form-label-sm" id='tituloclass'>
                                Classificação:
                            </label>
                        </div>
                        <div class="col-md-3">
                            <select name='classUsina' class='form-select form-select-sm' id='selectclass'>
                                <option>{{classificao}}</option>
                                <option>Rural</option>
                                <option>Rural Residencial</option>
                                <option>Rural Granja</option>
                                <option>Rural Irrigação</option>
                                <option>Residencial</option>
                                <option>Industrial</option>
                                <option>Comercial</option>
                                <option>Público</option>
                            </select>
                        </div>
                        <div class="col-md-2 text-end">
                            <label class="fw-bold col-form-label col-form-label-sm text-end" id='titulotipo'>
                                Tipo:
                            </label>
                        </div>
                        <div class="col-md-3">
                            <select name='tipoUsina' class='form-select form-select-sm' id='selecttipo'>
                                <option>{{tipo}}</option>
                                <option>Solo Concreto</option>
                                <option>Solo Metal</option>
                                <option>Telhado Fibrocimento</option>
                                <option>Telhado Madeira</option>
                                <option>Telhado Cerâmica</option>
                                <option>Telhado Gambrel</option>
                                <option>Telhado Metálico</option>
                                <option>Laje</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="padding-left: 10px;padding-right: 10px">
                        <div class="col-md-3 text-end">
                            <label class='col-form-label col-form-label-sm fw-bold' id='titulodata'>Área(m²):</label>
                        </div>
                        <div class="col-md-2">
                            <input type="number" name='area' class='form-control form-control-sm' value='{{area}}'>
                        </div>
                        <div class="col-md-2 text-end">
                            <label class='col-form-label col-form-label-sm fw-bold' id='titulodata'>Plano:</label>
                        </div>
                        <div class="col-md-3">
                            <select class='form-select form-select-sm' name='plano'>
                                <option>Serviço Único</option>
                                {{#each lista_plano}}
                                <option value='{{_id}}'>{{nome}}</option>
                                {{else}}
                                <option>Não existem planos cadastrados.</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="row" style="padding: 10px;">
                        <div class="col-md-3 text-end">
                            <label class='col-form-label col-form-label-sm fw-bold' id='titulodata'>Quantidade de
                                Painéis:</label>
                        </div>
                        <div class="col-md-2">
                            <input type="number" name='qtdmod' class='form-control form-control-sm' value='{{qtdmod}}'>
                        </div>
                        <div class="col-md-7 d-flex justify-content-center">
                            <button type="submit" class='btn btn-sm btn-success'>Adicionar</button>
                        </div>
                    </div>
                </div>
            </form> --}}
        </div>
    </div>
</div>