<style>
    .header-principal {
        padding: 10px;
        border: solid 1px;
        border-color: grey;
        border-radius: 5px;
        background-color: rgb(40, 57, 89);
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    .contorno {
        color: white;
        width: 100%;
        border-radius: 10px;
        border: solid 1px;
        background: linear-gradient(135deg, rgb(40, 57, 89, 1), rgb(11, 19, 58, 1));
        padding: 10px;
        text-align: center;
    }

    .selecao {
        text-decoration: none;
        font-size: 15px;
    }

    .selecao:hover {
        font-weight: bold;
        position: static;
        background-color: rgba(40, 70, 250);
        color: white;
        padding: 2px;
    }

    th {
        text-align: center;
        width: 70%;
        position: sticky;
    }


    table,
    tr {
        width: 100%;
        border-collapse: collapse;
        text-align: left;
        font-size: 15px;
        border: solid 1px;
        border-color: rgba(235, 225, 225, 0.8);
        border-left-color: white;
        border-right-color: white;
        border-top-color: white;
    }

    .quadro {
        background: white;
        border: solid 1px;
        border-color: rgba(153, 151, 151, 0.384);
        border-radius: 5px;
        width: 100%;
        height: fit-content;
        padding: 4px;
    }
</style>

<div style="padding: 10px;height: fit-content;">
    <div class="header-principal">Projetos {{pessoa.nome}}</div>

    <div class="row" style="width: 100%;padding-left: 20px;">
        <div style="padding: 10px;">
            <h6 class="header">{{pessoa}}</h6>
            <div class="quadro">
                <table>
                    <tr>
                        <th style="width: 25%;text-align: center;">Função</th>
                        <th style="width: 15%;text-align: center;">Cliente</th>
                        <th style="width: 20%;text-align: center;">Projeto</th>
                        <th style="width: 10%;text-align: center;">Data Inicio</th>
                        <th style="width: 10%;text-align: center;">Data Fim</th>
                        <th style="width: 10%;text-align: center;">Estágio</th>
                        <th style="text-align: center;">Foi Realizado?</th>
                    </tr>
                    {{#each projetos_ven}}
                    <tr style="text-align: center;">
                        <td>{{funcao}}</a></td>
                        <td>{{nome_cliente}}</a></td>
                        <td><a href='/projeto/edicao/{{id}}' style="font-size: 13px;" class='selecao'>{{nome}}</a></td>
                        <td>{{dataini}}</td>
                        <td>{{datafim}}</td>
                        <td>
                        <div class='btn-group btn-group-sm col-12 gap-2 mx-auto' role='group'>
                            {{#if checkAte}}
                            <div class='botao-tabela checkAte'>A</div>
                            {{else}}
                            <div class='botao-tabela uncheckAte'>A</div>
                            {{/if}}
                            {{#if checkTel}}
                            <div class='botao-tabela checkMod' M></div>
                            {{else}}
                            <div class='botao-tabela uncheckMod'>M</div>
                            {{/if}}
                            {{#if chechInv}}
                            <div class='botao-tabela checkInv'>I</div>
                            {{else}}
                            <div class='botao-tabela uncheckInv'>I</div>
                            {{/if}}
                        </div>
                        </td>
                        {{#if foiRealizado}}
                        <td>Sim</td>
                        {{else}}
                        <td>Não</td>
                        {{/if}}
                    </tr>
                    {{else}}
                    {{/each}}
                    {{#if projetos_ven}}
                    <tr>
                        <td colspan="7" style="background: rgba(98, 75, 230, 0.2);font-weight: bold;">Total:
                            {{total_ven}}
                        </td>
                    </tr>
                    {{/if}}
                    {{#each projetos_pro}}
                    <tr style="text-align: center;">
                        <td>{{funcao}}</a></td>
                        <td>{{nome_cliente}}</a></td>
                        <td><a href='/projeto/edicao/{{id}}' style="font-size: 13px;" class='selecao'>{{nome}}</a></td>
                        <td>{{dataini}}</td>
                        <td>{{datafim}}</td>
                        <td>
                        <div class='btn-group btn-group-sm col-12 gap-2 mx-auto' role='group'>
                            {{#if checkAte}}
                            <div class='botao-tabela checkAte'>A</div>
                            {{else}}
                            <div class='botao-tabela uncheckAte'>A</div>
                            {{/if}}
                            {{#if checkTel}}
                            <div class='botao-tabela checkMod' M></div>
                            {{else}}
                            <div class='botao-tabela uncheckMod'>M</div>
                            {{/if}}
                            {{#if chechInv}}
                            <div class='botao-tabela checkInv'>I</div>
                            {{else}}
                            <div class='botao-tabela uncheckInv'>I</div>
                            {{/if}}
                        </div>
                        </td>                        
                        {{#if foiRealizado}}
                        <td>Sim</td>
                        {{else}}
                        <td>Não</td>
                        {{/if}}
                    </tr>
                    {{else}}
                    {{/each}}
                    {{#if projetos_pro}}
                    <tr>
                        <td colspan="7" style="background: rgba(98, 75, 230, 0.2);font-weight: bold;">Total:
                            {{total_pro}}
                        </td>
                    </tr>
                    {{/if}}
                    {{#each projetos_pla}}
                    <tr style="text-align: center;">
                        <td>{{funcao}}</a></td>
                        <td>{{nome_cliente}}</a></td>
                        <td><a href='/projeto/edicao/{{id}}' style="font-size: 13px;" class='selecao'>{{nome}}</a></td>
                        <td>{{dataini}}</td>
                        <td>{{datafim}}</td>
                        <td>
                        <div class='btn-group btn-group-sm col-12 gap-2 mx-auto' role='group'>
                            {{#if checkAte}}
                            <div class='botao-tabela checkAte'>A</div>
                            {{else}}
                            <div class='botao-tabela uncheckAte'>A</div>
                            {{/if}}
                            {{#if checkTel}}
                            <div class='botao-tabela checkMod' M></div>
                            {{else}}
                            <div class='botao-tabela uncheckMod'>M</div>
                            {{/if}}
                            {{#if chechInv}}
                            <div class='botao-tabela checkInv'>I</div>
                            {{else}}
                            <div class='botao-tabela uncheckInv'>I</div>
                            {{/if}}
                        </div>
                        </td>
                        {{#if foiRealizado}}
                        <td>Sim</td>
                        {{else}}
                        <td>Não</td>
                        {{/if}}
                    </tr>
                    {{else}}
                    {{/each}}
                    {{#if projetos_pla}}
                    <tr>
                        <td colspan="7" style="background: rgba(98, 75, 230, 0.2);font-weight: bold;">Total:
                            {{total_pla}}
                        </td>
                    </tr>
                    {{/if}}
                    {{#each projetos_ate}}
                    <tr style="text-align: center;">
                        <td>{{funcao}}</a></td>
                        <td>{{nome_cliente}}</a></td>
                        <td><a href='/projeto/edicao/{{id}}' style="font-size: 13px;" class='selecao'>{{nome}}</a></td>
                        <td>{{dataini}}</td>
                        <td>{{datafim}}</td>
                        <td>
                        <div class='btn-group btn-group-sm col-12 gap-2 mx-auto' role='group'>
                            {{#if checkAte}}
                            <div class='botao-tabela checkAte'>A</div>
                            {{else}}
                            <div class='botao-tabela uncheckAte'>A</div>
                            {{/if}}
                            {{#if checkTel}}
                            <div class='botao-tabela checkMod' M></div>
                            {{else}}
                            <div class='botao-tabela uncheckMod'>M</div>
                            {{/if}}
                            {{#if chechInv}}
                            <div class='botao-tabela checkInv'>I</div>
                            {{else}}
                            <div class='botao-tabela uncheckInv'>I</div>
                            {{/if}}
                        </div>
                        </td>
                        {{#if foiRealizado}}
                        <td>Sim</td>
                        {{else}}
                        <td>Não</td>
                        {{/if}}
                    </tr>
                    {{else}}
                    {{/each}}
                    {{#if projetos_ate}}
                    <tr>
                        <td colspan="7" style="background: rgba(98, 75, 230, 0.2);font-weight: bold;">Total:
                            {{total_ate}}
                        </td>
                    </tr>
                    {{/if}}
                    {{#each projetos_inv}}
                    <tr style="text-align: center;">
                        <td>{{funcao}}</a></td>
                        <td>{{nome_cliente}}</a></td>
                        <td><a href='/projeto/edicao/{{id}}' style="font-size: 13px;" class='selecao'>{{nome}}</a></td>
                        <td>{{dataini}}</td>
                        <td>{{datafim}}</td>
                        <td>
                        <div class='btn-group btn-group-sm col-12 gap-2 mx-auto' role='group'>
                            {{#if checkAte}}
                            <div class='botao-tabela checkAte'>A</div>
                            {{else}}
                            <div class='botao-tabela uncheckAte'>A</div>
                            {{/if}}
                            {{#if checkTel}}
                            <div class='botao-tabela checkMod' M></div>
                            {{else}}
                            <div class='botao-tabela uncheckMod'>M</div>
                            {{/if}}
                            {{#if chechInv}}
                            <div class='botao-tabela checkInv'>I</div>
                            {{else}}
                            <div class='botao-tabela uncheckInv'>I</div>
                            {{/if}}
                        </div>
                        </td>
                        {{#if foiRealizado}}
                        <td>Sim</td>
                        {{else}}
                        <td>Não</td>
                        {{/if}}
                    </tr>
                    {{else}}
                    {{/each}}
                    {{#if projetos_inv}}
                    <tr>
                        <td colspan="7" style="background: rgba(98, 75, 230, 0.2);font-weight: bold;">Total:
                            {{total_inv}}
                        </td>
                    </tr>
                    {{/if}}
                    {{#each projetos_pnl}}
                    <tr style="text-align: center;">
                        <td>{{funcao}}</a></td>
                        <td>{{nome_cliente}}</a></td>
                        <td><a href='/projeto/edicao/{{id}}' style="font-size: 13px;" class='selecao'>{{nome}}</a></td>
                        <td>{{dataini}}</td>
                        <td>{{datafim}}</td>
                        <td>
                        <div class='btn-group btn-group-sm col-12 gap-2 mx-auto' role='group'>
                            {{#if checkAte}}
                            <div class='botao-tabela checkAte'>A</div>
                            {{else}}
                            <div class='botao-tabela uncheckAte'>A</div>
                            {{/if}}
                            {{#if checkTel}}
                            <div class='botao-tabela checkMod' M></div>
                            {{else}}
                            <div class='botao-tabela uncheckMod'>M</div>
                            {{/if}}
                            {{#if chechInv}}
                            <div class='botao-tabela checkInv'>I</div>
                            {{else}}
                            <div class='botao-tabela uncheckInv'>I</div>
                            {{/if}}
                        </div>
                        </td>
                        {{#if foiRealizado}}
                        <td>Sim</td>
                        {{else}}
                        <td>Não</td>
                        {{/if}}
                    </tr>
                    {{else}}
                    {{/each}}
                    {{#if projetos_pnl}}
                    <tr>
                        <td colspan="7" style="background: rgba(98, 75, 230, 0.2);font-weight: bold;">Total:
                            {{total_pnl}}
                        </td>
                    </tr>
                    {{/if}}
                    {{#each projetos_eae}}
                    <tr style="text-align: center;">
                        <td>{{funcao}}</a></td>
                        <td>{{nome_cliente}}</a></td>
                        <td><a href='/projeto/edicao/{{id}}' style="font-size: 13px;" class='selecao'>{{nome}}</a></td>
                        <td>{{dataini}}</td>
                        <td>{{datafim}}</td>
                        <td>
                        <div class='btn-group btn-group-sm col-12 gap-2 mx-auto' role='group'>
                            {{#if checkAte}}
                            <div class='botao-tabela checkAte'>A</div>
                            {{else}}
                            <div class='botao-tabela uncheckAte'>A</div>
                            {{/if}}
                            {{#if checkTel}}
                            <div class='botao-tabela checkMod' M></div>
                            {{else}}
                            <div class='botao-tabela uncheckMod'>M</div>
                            {{/if}}
                            {{#if chechInv}}
                            <div class='botao-tabela checkInv'>I</div>
                            {{else}}
                            <div class='botao-tabela uncheckInv'>I</div>
                            {{/if}}
                        </div>
                        </td>
                        {{#if foiRealizado}}
                        <td>Sim</td>
                        {{else}}
                        <td>Não</td>
                        {{/if}}
                    </tr>
                    {{else}}
                    {{/each}}
                    {{#if projetos_eae}}
                    <tr>
                        <td colspan="7" style="background: rgba(98, 75, 230, 0.2);font-weight: bold;">Total:
                            {{total_eae}}
                        </td>
                    </tr>
                    {{/if}}
                    {{#each projetos_ins}}
                    <tr style="text-align: center;">
                        <td>{{funcao}}</a></td>
                        <td>{{nome_cliente}}</a></td>
                        <td><a href='/projeto/edicao/{{id}}' style="font-size: 13px;" class='selecao'>{{nome}}</a></td>
                        <td>{{dataini}}</td>
                        <td>{{datafim}}</td>
                        <td>
                        <div class='btn-group btn-group-sm col-12 gap-2 mx-auto' role='group'>
                            {{#if checkAte}}
                            <div class='botao-tabela checkAte'>A</div>
                            {{else}}
                            <div class='botao-tabela uncheckAte'>A</div>
                            {{/if}}
                            {{#if checkTel}}
                            <div class='botao-tabela checkMod' M></div>
                            {{else}}
                            <div class='botao-tabela uncheckMod'>M</div>
                            {{/if}}
                            {{#if chechInv}}
                            <div class='botao-tabela checkInv'>I</div>
                            {{else}}
                            <div class='botao-tabela uncheckInv'>I</div>
                            {{/if}}
                        </div>
                        </td>
                        {{#if foiRealizado}}
                        <td>Sim</td>
                        {{else}}
                        <td>Não</td>
                        {{/if}}
                    </tr>
                    {{else}}
                    {{/each}}
                    {{#if projetos_ins}}
                    <tr>
                        <td colspan="7" style="background: rgba(98, 75, 230, 0.2);font-weight: bold;">Total:
                            {{total_ins}}
                        </td>
                    </tr>
                    {{/if}}
                </table>
            </div>
        </div>
    </div>
</div>