<div style="width: 98%;padding-left: 2%;padding-top: 0.5%;">

    <a href='/gerenciamento/vistoriaPla/{{projeto._id}}' class='btn btn-sm botao-menu'><i
            class="bi bi-layers"></i>
        Planejamento</a>
    <a href='/gerenciamento/vistoriaAte/{{projeto._id}}' class='btn btn-sm botao-menu'><i class="bi bi-layers"></i>
        Aterramento</a>
    <a href="/gerenciamento/vistoriaStb/{{projeto._id}}" class="btn btn-sm botao-menu"><i
            class="bi bi-layers"></i>
        StringBox</a>
    <a href="/gerenciamento/vistoriaInv/{{projeto._id}}" class="btn btn-sm botao-menu ativo"><i class="bi bi-layers"></i>
        Inversor</a>
    <a href="/gerenciamento/vistoriaEst/{{projeto._id}}" class="btn btn-sm botao-menu"><i class="bi bi-layers"></i>
        Estruturas</a>
    <a href="/gerenciamento/vistoriaMod/{{projeto._id}}" class="btn btn-sm botao-menu"><i class="bi bi-layers"></i>
        Módulos</a>
    <a href='/gerenciamento/cronograma/{{projeto._id}}' class='btn btn-sm btn-primary'> <i
            class="bi bi-arrow-return-left"></i></a>        

    <div class="row" style="padding-left: 15px;">
        <div class="col-md-4">
            <div class="form-check">
                <input class='form-check-input' style="margin-top: 6px;" type="checkbox" name='invFixar'
                    {{vistoria.invFixar}}>
                <label class='col-form-label col-form-label-sm form-check-label'>Fixar Inversor</label>
            </div>
            <img id='fotoInvFixar' name='fotoInvFixar' style="width: 300px; height: 190px;" />
            <div class="row">
                <div class="col-md-4">
                    <label class="col-form-label col-form-label-sm">Data Entrega:</label>
                </div>
                <div class="col-md-5">
                    <input name='dtInvFixar' value='{{vistoria.dtInvFixar}}' type="date"
                        class='form-control form-control-sm'>
                </div>
            </div>
            <div class="form-check">
                <input class='form-check-input' style="margin-top: 6px;" type="checkbox" name='invCabos'
                    {{vistoria.invCabos}}>
                <label class='col-form-label col-form-label-sm form-check-label'>Conectar Cabos</label>
            </div>
            <img id='fotoInvCabos' name='fotoInvCabos' style="width: 300px; height: 190px;" />
            <div class="row">
                <div class="col-md-4">
                    <label class="col-form-label col-form-label-sm">Data Entrega:</label>
                </div>
                <div class="col-md-5">
                    <input name='dtInvCabos' value='{{vistoria.dtInvCabos}}' type="date"
                        class='form-control form-control-sm'>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-check">
                <input class='form-check-input' style="margin-top: 6px;" type="checkbox" name='invFrequencia'
                    {{vistoria.invFrequencia}}>
                <label class='col-form-label col-form-label-sm form-check-label'>Configurar Frequência</label>
            </div>
            <img id='fotoInvFrequencia' name='fotoInvFrequencia' style="width: 300px; height: 190px;" />
            <div class="row">
                <div class="col-md-4">
                    <label class="col-form-label col-form-label-sm">Data Entrega:</label>
                </div>
                <div class="col-md-5">
                    <input name='dtInvFrequencia' value='{{vistoria.dtInvFrequencia}}' type="date"
                        class='form-control form-control-sm'>
                </div>
            </div>
            <div class="form-check">
                <input class='form-check-input' style="margin-top: 6px;" type="checkbox" name='invTensao'
                    {{vistoria.invTensao}}>
                <label class='col-form-label col-form-label-sm form-check-label'>Configurar Tensão</label>
            </div>
            <img id='fotoInvTensao' name='fotoInvTensao' style="width: 300px; height: 190px;" />
            <div class="row">
                <div class="col-md-4">
                    <label class="col-form-label col-form-label-sm">Data Entrega:</label>
                </div>
                <div class="col-md-5">
                    <input name='dtInvTensao' value='{{vistoria.dtInvTensao}}' type="date"
                        class='form-control form-control-sm'>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-check">
                <input class='form-check-input' style="margin-top: 6px;" type="checkbox" name='invCorrente'
                    {{vistoria.invCorrente}}>
                <label class='col-form-label col-form-label-sm form-check-label'>Configurar Corrente</label>
            </div>
            <img id='fotoInvCorrente' name='fotoInvCorrente' style="width: 300px; height: 190px;" />
            <div class="row">
                <div class="col-md-4">
                    <label class="col-form-label col-form-label-sm">Data Entrega:</label>
                </div>
                <div class="col-md-5">
                    <input name='dtInvCorrente' value='{{vistoria.dtInvCorrente}}' type="date"
                        class='form-control form-control-sm'>
                </div>
            </div>
            <div class="form-check">
                <input class='form-check-input' style="margin-top: 6px;" type="checkbox" name='invString'
                    {{vistoria.invString}}>
                <label class='col-form-label col-form-label-sm form-check-label'>Configurar String</label>
            </div>
            <img id='fotoInvString' name='fotoInvString' style="width: 300px; height: 190px;" />
            <div class="row">
                <div class="col-md-4">
                    <label class="col-form-label col-form-label-sm">Data Entrega:</label>
                </div>
                <div class="col-md-5">
                    <input name='dtInvString' value='{{vistoria.dtInvString}}' type="date"
                        class='form-control form-control-sm'>
                </div>
            </div>   
            <div class="form-check">
                <input class='form-check-input' style="margin-top: 6px;" type="checkbox" name='invPontoConexao'
                    {{vistoria.invPontoConexao}}>
                <label class='col-form-label col-form-label-sm form-check-label'>Puxar Fio Ponto de Conexão</label>
            </div>
            <img id='fotoInvPontoConexao' name='fotoInvPontoConexao' style="width: 300px; height: 190px;" />
            <div class="row" style="margin-bottom: 10%;">
                <div class="col-md-4">
                    <label class="col-form-label col-form-label-sm">Data Entrega:</label>
                </div>
                <div class="col-md-5">
                    <input name='dtInvPontoConexao' value='{{vistoria.dtInvPontoConexao}}' type="date"
                        class='form-control form-control-sm'>
                </div>
            </div>                           
        </div>
    </div>
</div>