<style type='text/css'>
    .tamanhodiv {
        width: 700px;
    }

    label {
        text-transform: none;
    }
</style>
<script src="./js/uteis.js"></script>
<div class="container mt-2 card">
    <form {{#if empresa._id}}action='/configuracao/editempresa' {{else}}action='/configuracao/addempresa' {{/if}}
        method='post' enctype="multipart/form-data">
        <div class="row mt-4">
            <div class="col">
                <label class="mt-2" style='font-weight: bold;font-size:20px'>Empresa</label>
            </div>
            <div class="col text-end">
                <div>
                    {{!-- <a href='/configuracao/addempresa' class='btn btn-sm btn-primary'>Novo</a> --}}
                    {{!-- <a href='/configuracao/consultaempresa' class='btn btn-sm btn-primary'><i class='bi bi-search'></i>
                    </a> --}}
                    <button type='submit' class='btn btn-sm btn-success'>Salvar</button>
                    <a href='/dashboard'><i class='bi bi-arrow-left-circle btn btn-sm btn-primary' title="Dashboard"></i></a>
                </div>
            </div>
        </div>
        <br>
        <div class="row" style="margin-bottom: 4px;">
            <input type='hidden' name='id' value='{{empresa._id}}'>
            <div class="col-md-6">
                <div class="card">
                    <div class="row mt-1 mb-1">
                        <div class="col-md-3 text-end">
                            <label class='fw-bold col-form-label col-form-label-sm'> Nome: </label><br>
                            <label class='fw-bold col-form-label col-form-label-sm mt-1'> Razão: </label><br>
                            <label class='fw-bold col-form-label col-form-label-sm mt-1'> CNPJ: </label><br>
                            <label class='fw-bold col-form-label col-form-label-sm mt-1'> Endereço: </label><br>
                            <label class='fw-bold col-form-label col-form-label-sm mt-1'> Cidade: </label><br>
                            <label class='fw-bold col-form-label col-form-label-sm mt-1'> Estado: </label><br>
                            <label class='fw-bold col-form-label col-form-label-sm mt-1'> Telefone: </label><br>
                            <label class='fw-bold col-form-label col-form-label-sm mt-1'> Celular: </label><br>
                            <label class='fw-bold col-form-label col-form-label-sm mt-1'> Site: </label><br>
                        </div>
                        <div class="col-md-8">
                            <input id='nome' name='nome' value='{{empresa.nome}}'
                                class='form-control form-control-sm mt-1'>
                            <input id='razao' name='razao' value='{{empresa.razao}}'
                                class='form-control form-control-sm mt-1'>
                            <input id='cnpj' name='cnpj' value='{{empresa.cnpj}}'
                                class='form-control form-control-sm mt-1' onkeyup="valida_cnpj()">
                            <input id='endereco' name='endereco' value='{{empresa.endereco}}'
                                class='form-control form-control-sm mt-1'>
                            <input id='cidade' name='cidade' value='{{empresa.cidade}}'
                                class='form-control form-control-sm mt-1'>
                            <input id='uf' name='estado' value='{{empresa.uf}}'
                                class='form-control form-control-sm mt-1'>
                            <input id='telefone' name='telefone' value='{{empresa.telefone}}'
                                class='form-control form-control-sm mt-1'>
                            <input id='celular' name='celular' value='{{empresa.celular}}'
                                class='form-control form-control-sm mt-1'>
                            <input id='website' name='website' style="text-transform: lowercase;" value='{{empresa.website}}'
                                class='form-control form-control-sm mt-1'>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="container">
                    <div class="row mt-4">
                        <div class="input-group input-group-sm">
                            <label class="input-group-text">Logo</label>
                            <input type="file" name='logo' id="logo" class='form-control' onchange="preview_logo()">
                        </div>
                    </div>
                    <div class="mt-2" style="margin-left: 160px;" id="fotosalva">
                        <img src='/gerenciamento/mostrarBucket/{{empresa.logo}}' style="width: 160px; height: 160px;"
                            alt='Minha Figura'></a>
                    </div>
                    <div class="mt-2" style="display: {{#if empresa.logo}}none{{else}}''{{/if}}; margin-left: 160px;"
                        id="fotopreview">
                        <img id='foto' name='foto' style="width: 160px; height: 160px;" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class='fw-bold col-form-label col-form-label-sm'>Parâmetros</label>
                <div class="row">
                    <div class="col-md-5 text-end">
                        <label class='col-form-label col-form-label-sm '>Sequênica das propostas:
                        </label><br>
                        <label class='col-form-label col-form-label-sm mt-1'>Custo de instalação por Módulo:
                        </label><br>
                        <label class='col-form-label col-form-label-sm mb-1 mt-1'> Dias de validade das proposta:
                        </label><br>
                        <label class='col-form-label col-form-label-sm mb-1'> TOKEN PIPEDRIVE:
                        </label><br>                        
                    </div>
                    <div class="col-md-5">
                        <input type='number' id='seq' name='seq' value='{{empresa.seq}}'
                            class='form-control form-control-sm mb-1' />
                        <input type='number' id='vlrmdo' name='vlrmdo' value='{{empresa.vlrmdo}}'
                            class='form-control form-control-sm mb-1' placeholder="R$" />
                        <input type='number' id='valpro' name='valpro' value='{{empresa.valpro}}'
                            class='form-control form-control-sm mb-1'>
                        <input type='text' id='pipe' name='pipe' value='{{empresa.tokenpipe}}'
                            class='form-control form-control-sm mb-1'>                            
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>