<style type='text/css'>
    .botao {
        background-color: rgb(40, 55, 86);
        text-shadow: 1px 1px 10px rgb(238, 237, 245);
        border-radius: 40px;
        width: 45px;
        height: 45px;
        padding-top: 2px;
        border: solid 3px;
        font-size: 18px;
        border-top-color: rgb(3, 67, 141);
        border-left-color: rgb(3, 67, 141);
        border-right-color: rgb(205, 223, 245);
        border-bottom-color: rgb(205, 223, 245);
    }
</style>
<div class="container-sm mt-2">

    <div class="header mb-2">
        <h5 style="font-weight: 600">EMPRESAS</h5>
    </div>

    {{#each empresa}}

    <div class="card mb-1" style="padding: 20px;">
        <div class="row">
            <div class="col-md-10">
                <label for='nome' class='fw-bold col-form-label col-form-label-sm'> Nome: </label>
                <label class='col-form-label col-form-label-sm'> {{nome}} </label>
                &nbsp&nbsp&nbsp&nbsp
                <label for='nome' class='fw-bold col-form-label col-form-label-sm'> CNPJ: </label>
                <label class='col-form-label col-form-label-sm'> {{cnpj}} </label>
            </div>
            <div class="col-md-2">
                <div class='btn-group btn-group-sm mx-auto' role='group'>
                    <a href='/configuracao/editempresa/{{_id}}' class='botao-tabela ativado'> <i
                            class='bi bi-pen icone'></i> </a>
                    <a href='/configuracao/confirmaexclusao/{{_id}}' class='botao-tabela ativado'> <i
                            class='bi bi-trash icone'></i>
                    </a>
                </div>
            </div>
        </div>
        {{else}}
        <h6>Nenhum registro encontrado</h6>
        {{/each}}
    </div>
</div>